Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'

fixed rating
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
Labels: backend

finished profile
  backend/src/api/routes/user/user.route.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/user/user.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/ui/card-size/card-size.enum.ts
  frontend/src/components/common/avatar/maps/size-to-px/size-to-px.map.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/sign/styles.module.scss
  frontend/src/components/common/user-label/styles.module.scss
  frontend/src/components/common/user-label/user-label.tsx
  frontend/src/components/profile/components/components.ts
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/components/rating/rating.tsx
  frontend/src/components/profile/components/rating/styles.module.scss
  frontend/src/components/profile/components/statistics/statistics.tsx
  frontend/src/components/profile/components/statistics/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/profile/actions.ts
Labels: backend, frontend

finished study plan
  backend/src/api/routes/room/room.route.ts
  backend/src/common/enums/db/relation-mapping/lesson-to-skill-relation-mapping/lesson-to-skill-relation-mapping.enum.ts
  backend/src/common/enums/db/relation-mapping/relation-mapping.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/refresh-token/refresh-token.repository.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/settings/settings.repository.ts
  backend/src/data/repositories/statistics/statistics.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/helpers/study-plan/calculate-lesson-average-speed/calculate-lesson-average-speed.helper.ts
  backend/src/helpers/study-plan/map-lesson-result-to-skill-levels-payload/map-lesson-result-to-skill-levels-payload.helper.ts
  backend/src/services/its/its.service.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/settings/settings.service.ts
  backend/src/services/statistics/statistics.service.ts
  backend/src/services/token/token.service.ts
  backend/src/services/user/user.service.ts
Labels: backend

finished participant
  backend/src/api/routes/room/room.route.ts
  backend/src/common/types/racing/participants-count/participants-count.type.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/room/room.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exception/http-error-message/http-error-message.enum.ts
Labels: shared, backend

minor study plan fixes
  backend/src/api/routes/room/room.route.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/services/lesson/lesson.service.ts
Labels: backend

minor fixes
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/store/modules/racing/actions.ts
Labels: backend, frontend

minor fixes
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/settings/settings.repository.ts
  backend/src/data/repositories/statistics/statistics.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/s3/s3.service.ts
  backend/src/services/user/user.service.ts
Labels: backend

finished racing
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/car-racing.png
  frontend/src/assets/img/multi-player.png
  frontend/src/assets/img/single-player.png
  frontend/src/components/app/app.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/components.ts
  frontend/src/components/profile/components/rating/styles.module.scss
  frontend/src/components/racing/components/components.ts
  frontend/src/components/racing/components/mode-card/mode-card.tsx
  frontend/src/components/racing/components/mode-card/styles.module.scss
  frontend/src/components/racing/racing.tsx
  frontend/src/components/racing/styles.module.scss
  frontend/src/components/theory/theory.tsx
Labels: frontend

started rooms
  frontend/src/components/app/app.tsx
  frontend/src/components/common/link/link.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/room/styles.module.scss
  frontend/src/components/rooms/components/components.ts
  frontend/src/components/rooms/components/create-room-button/create-room-button.tsx
  frontend/src/components/rooms/components/create-room-button/styles.module.scss
  frontend/src/components/rooms/components/create-room-modal/create-room-modal.tsx
  frontend/src/components/rooms/components/create-room-modal/styles.module.scss
  frontend/src/components/rooms/components/room-card/room-card.tsx
  frontend/src/components/rooms/components/room-card/styles.module.scss
  frontend/src/components/rooms/components/room-item-list/room-item-list.tsx
  frontend/src/components/rooms/components/room-item/room-item.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/rooms/rooms.tsx
  frontend/src/components/rooms/styles.module.scss
Labels: frontend

send share room url validation schema
  backend/src/api/routes/room/room.route.ts
  backend/src/validation-schemas/racing/racing.ts
  frontend/src/validation-schemas/racing/racing.ts
  shared/src/common/constants/racing/max-share-room-url-length/max-share-room-url-length.constant.ts
  shared/src/common/constants/racing/min-share-room-url-length/min-share-room-url-length.constant.ts
  shared/src/common/constants/racing/racing.ts
  shared/src/validation-schemas/requests/racing/racing.ts
  shared/src/validation-schemas/requests/racing/send-share-room-url/send-share-room-url.schema.ts
Labels: shared, backend, frontend

fixed content type header
  frontend/src/services/api/room-api/room-api.service.ts
Labels: frontend

added cron
  backend/package-lock.json
  backend/package.json
  backend/src/common/constants/racing/cron-job-rule/cron-job-rule.constant.ts
  backend/src/common/constants/racing/no-room-owner/no-room-owner.constant.ts
  backend/src/common/constants/racing/no-users-in-room/no-users-in-room.constants.ts
  backend/src/common/constants/racing/racing.ts
  backend/src/common/types/function/function.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/axios/axios.service.ts
  backend/src/services/cron/cron.service.ts
  backend/src/services/hash/hash.service.ts
  backend/src/services/mailer/mailer.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/s3/s3.service.ts
  backend/src/services/services.ts
  backend/src/services/token/token.service.ts
  shared/src/common/types/function/function.ts
  shared/src/common/types/function/void-action/void-action.type.ts
  shared/src/common/types/function/void-callback/void-callback.type.ts
  shared/src/common/types/types.ts
Labels: shared, backend

added lesson validation schema frontend
  frontend/src/validation-schemas/lesson/lesson.ts
  frontend/src/validation-schemas/validation-schemas.ts
Labels: frontend

started share url modal
  backend/src/services/room/room.service.ts
  frontend/src/assets/css/main.scss
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/racing/components/mode-card/mode-card.tsx
  frontend/src/components/racing/components/mode-card/styles.module.scss
  frontend/src/components/racing/racing.tsx
  frontend/src/components/rooms/components/create-room-modal/create-room-modal.tsx
  frontend/src/components/rooms/components/room-card/room-card.tsx
  frontend/src/components/rooms/components/room-card/styles.module.scss
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/rooms/components/share-room-modal/styles.module.scss
  frontend/src/components/rooms/rooms.tsx
  frontend/src/components/rooms/styles.module.scss
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/store/modules/racing/actions.ts
  shared/src/common/types/racing/send-room-url-to-emails-request-dto/send-room-url-to-emails-request-dto.type.ts
  shared/src/validation-schemas/requests/racing/send-share-room-url/send-share-room-url.schema.ts
Labels: shared, backend, frontend

refactor lesson statistics data types
  backend/src/helpers/statistics/calculate-statistics/calculate-statistics.helper.ts
  backend/src/helpers/study-plan/calculate-lesson-average-speed/calculate-lesson-average-speed.helper.ts
Labels: backend

started share url modal
  frontend/src/common/enums/ui/form-field-label/form-field-type.enum.ts
  frontend/src/common/enums/ui/form-field-type/form-field-type.enum.ts
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/profile/components/statistics/statistics.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
Labels: frontend

added its module
  backend/package-lock.json
  backend/package.json
  backend/src/helpers/study-plan/map-lessons-to-next-study-plan-lesson-payload/map-lessons-to-next-study-plan-lesson-payload.helper.ts
  backend/src/services/its/its.service.ts
  backend/src/services/lesson/lesson.service.ts
  its/.eslintrc.yml
  its/package-lock.json
  its/package.json
  its/src/algorithms/ahp/ahp.algorithm.ts
  its/src/algorithms/algorithms.ts
  its/src/algorithms/bkt/bkt.algorithm.ts
  its/src/algorithms/irt/irt.algorithm.ts
  its/src/common/types/types.ts
  its/tsconfig.json
  shared/src/common/types/its/ahp-payload/ahp-payload.type.ts
  shared/src/index.ts
Labels: shared, backend

finished share url modal
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/rooms/components/share-room-modal/styles.module.scss
Labels: frontend

finished share url modal
  .lintstagedrc.yml
  .ls-lint.yml
  backend/package-lock.json
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/form-field/components/hiden-input/hiden-input.tsx
  frontend/src/components/common/form-field/components/hiden-input/styles.module.scss
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  package.json
Labels: root, backend, frontend

finished share url modal
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
Labels: frontend

ahp
  .eslintrc.yml
  backend/src/common/types/lesson/lesson-with-skills-and-content-type/lesson-with-skills-and-content-type.type.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/data/migrations/20221224215349_add_users_to_skills_table.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/helpers/study-plan/map-lessons-to-next-study-plan-lesson-payload/map-lessons-to-next-study-plan-lesson-payload.helper.ts
  its/package-lock.json
  its/package.json
  its/src/algorithms/ahp/ahp.algorithm.ts
  its/src/common/enums/enums.ts
  its/src/common/types/pairwise-comparison-matrix/pairwise-comparison-matrix.type.ts
  its/src/common/types/priorities-vector/priorities-vector.type.ts
  its/src/common/types/types.ts
  its/src/helpers/ahp/ahp.ts
  its/src/helpers/ahp/calculate-alternative-pairwise-comparison-matrices/calculate-alternative-pairwise-comparison-matrices.helper.ts
  its/src/helpers/ahp/calculate-alternative-pairwise-comparison-matrix/calculate-alternative-pairwise-comparison-matrix.helper.ts
  its/src/helpers/ahp/calculate-criterion-pairwise-comparison-matrix/calculate-criterion-pairwise-comparison-matrix.helpers.ts
  its/src/helpers/ahp/calculate-global-priorities/calculate-global-priorities.helper.ts
  its/src/helpers/ahp/calculate-local-priorities/calculate-local-priorities.helper.ts
  its/src/helpers/ahp/calculate-priority-coefficient/calculate-priority-coefficient.helper.ts
  its/src/helpers/ahp/check-acceptable-advantage/check-acceptable-advantage.helper.ts
  its/src/helpers/ahp/check-consistency/check-consistency.helper.ts
  its/src/helpers/ahp/find-lesson-with-max-worst-skill-count/find-lesson-with-max-worst-skill-count.helper.ts
  its/src/helpers/helpers.ts
  shared/src/common/types/its/additional/additional.ts
  shared/src/common/types/its/additional/ahp-lesson/ahp-lesson.type.ts
  shared/src/common/types/its/additional/ahp-skill-count-in-lesson/ahp-skill-count-in-lesson.type.ts
  shared/src/common/types/its/additional/ahp-skill-levels/ahp-skill-levels.type.ts
  shared/src/common/types/its/ahp-payload/ahp-payload.type.ts
  shared/src/common/types/its/its.ts
Labels: root, shared, backend

ahp
  backend/package-lock.json
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/data/migrations/20230528142633_add_test_lessons_data.ts
  backend/src/services/its/its.service.ts
  its/package-lock.json
  its/package.json
  its/src/algorithms/ahp/ahp.algorithm.ts
  its/src/common/types/alternative-priorities-vector/alternative-priorities-vector.type.ts
  its/src/common/types/criterion-priorities-vector/criterion-priorities-vector.type.ts
  its/src/common/types/types.ts
  its/src/helpers/ahp/ahp.ts
  its/src/helpers/ahp/calculate-acceptable-alternatives/calculate-acceptable-alternatives.helper.ts
  its/src/helpers/ahp/calculate-alternative-pairwise-comparison-matrices/calculate-alternative-pairwise-comparison-matrices.helper.ts
  its/src/helpers/ahp/calculate-alternative-pairwise-comparison-matrix/calculate-alternative-pairwise-comparison-matrix.helper.ts
  its/src/helpers/ahp/calculate-bayesian-local-priorities/calculate-bayesian-local-priorities.helper.ts
  its/src/helpers/ahp/calculate-criterion-pairwise-comparison-matrix/calculate-criterion-pairwise-comparison-matrix.helpers.ts
  its/src/helpers/ahp/check-acceptable-advantage/check-acceptable-advantage.helper.ts
Labels: backend

finished ahp
  backend/package-lock.json
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/services/its/its.service.ts
  its/package-lock.json
  its/package.json
  its/src/algorithms/ahp/ahp.algorithm.ts
  its/src/helpers/ahp/ahp.ts
  its/src/helpers/ahp/calculate-alternative-pairwise-comparison-matrix/calculate-alternative-pairwise-comparison-matrix.helper.ts
  its/src/helpers/ahp/calculate-bayesian-local-priorities/calculate-bayesian-local-priorities.helper.ts
  its/src/helpers/ahp/calculate-criterion-pairwise-comparison-matrix/calculate-criterion-pairwise-comparison-matrix.helpers.ts
  its/src/helpers/ahp/calculate-global-priorities/calculate-global-priorities.helper.ts
  its/src/helpers/ahp/calculate-lambda-max/calculate-lambda-max.helper.ts
  its/src/helpers/ahp/calculate-local-priorities/calculate-local-priorities.helper.ts
  its/src/helpers/ahp/calculate-priority-coefficient/calculate-priority-coefficient.helper.ts
  its/src/helpers/ahp/calculate-similarity-criterion/calculate-similarity-criterion.helper.ts
  its/src/helpers/ahp/check-consistency-index/check-consistency-index.helper.ts
  its/src/helpers/ahp/check-consistency/check-consistency.helper.ts
Labels: backend

fixed eslint error
  frontend/src/components/profile/profile.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
Labels: frontend

game results modal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app/app.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/components.ts
  frontend/src/components/external/external.ts
  frontend/src/components/room/components/components.ts
  frontend/src/components/room/components/index.ts
  frontend/src/components/room/components/results-modal/index.tsx
  frontend/src/components/room/components/results-modal/results-modal.tsx
  frontend/src/components/room/components/results-modal/styles.module.scss
  frontend/src/components/room/helpers/helpers.ts
  frontend/src/components/room/helpers/index.ts
  frontend/src/components/room/helpers/map-participants-to-rating/map-participants-to-rating.ts
  frontend/src/components/room/room.tsx
Labels: frontend

lesson result modal
  frontend/src/common/constants/racing/racing.ts
  frontend/src/common/types/lesson/lesson-displayed-result/lesson-displayed-result.type.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/components.ts
  frontend/src/components/lesson/components/components.ts
  frontend/src/components/lesson/components/results-modal/results-modal.tsx
  frontend/src/components/lesson/components/results-modal/styles.module.scss
  frontend/src/components/lesson/helpers/get-minutes-from-milliseconds/get-minutes-from-milliseconds.helper.ts
  frontend/src/components/lesson/helpers/helpers.ts
  frontend/src/components/lesson/helpers/map-lesson-statistics-to-results/map-lesson-statistics-to-results.helper.ts
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/lesson/styles.module.scss
Labels: frontend

added ar.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/ar-camera/ar-camera.tsx
Labels: frontend

added ar marker modal
  frontend/src/assets/img/ar-markers/a-marker.png
  frontend/src/common/enums/lesson/alphabet-letter/alphabet-letter.enum.ts
  frontend/src/common/enums/lesson/lesson.ts
  frontend/src/common/maps/maps.ts
  frontend/src/common/maps/skill-symbol-to-ar-marker/skill-symbol-to-ar-marker.map.ts
  frontend/src/components/common/specific/ar-marker-modal/ar-marker-modal.tsx
  frontend/src/components/common/specific/ar-marker-modal/styles.module.scss
Labels: frontend

refsctored room delete query
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/room/room.service.ts
  backend/src/services/token/token.service.ts
Labels: backend

finished lessons without styles
  .eslintrc.yml
  backend/package-lock.json
  backend/src/data/repositories/lesson/lesson.repository.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/css/variables.scss
  frontend/src/common/constants/lesson/lessons-amount-for-one-request/lessons-amount-for-one-request.constant.ts
  frontend/src/common/enums/ui/form-field-label/form-field-type.enum.ts
  frontend/src/common/enums/ui/form-field-type/form-field-type.enum.ts
  frontend/src/common/types/external/external.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/form-field/components/components.ts
  frontend/src/components/common/form-field/components/textarea/textarea.tsx
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/common/select/get-styles.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/components/lessons/components/category-wrapper/category-wrapper.tsx
  frontend/src/components/lessons/components/category-wrapper/styles.module.scss
  frontend/src/components/lessons/components/components.ts
  frontend/src/components/lessons/components/create-lesson-modal/create-lesson-modal.tsx
  frontend/src/components/lessons/components/create-lesson-modal/styles.module.scss
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/lessons/styles.module.scss
  frontend/src/components/rooms/components/create-room-modal/create-room-modal.tsx
  frontend/src/store/modules/lessons/actions.ts
Labels: root, backend, frontend

added ar markers and modal
  frontend/src/assets/img/ar-markers/a.png
  frontend/src/assets/img/ar-markers/b.png
  frontend/src/assets/img/ar-markers/c.png
  frontend/src/assets/img/ar-markers/d.png
  frontend/src/assets/img/ar-markers/e.png
  frontend/src/assets/img/ar-markers/f.png
  frontend/src/assets/img/ar-markers/g.png
  frontend/src/assets/img/ar-markers/h.png
  frontend/src/assets/img/ar-markers/i.png
  frontend/src/assets/img/ar-markers/j.png
  frontend/src/assets/img/ar-markers/k.png
  frontend/src/assets/img/ar-markers/l.png
  frontend/src/assets/img/ar-markers/m.png
  frontend/src/assets/img/ar-markers/n.png
  frontend/src/assets/img/ar-markers/o.png
  frontend/src/assets/img/ar-markers/p.png
  frontend/src/assets/img/ar-markers/q.png
  frontend/src/assets/img/ar-markers/r.png
  frontend/src/assets/img/ar-markers/s.png
  frontend/src/assets/img/ar-markers/t.png
  frontend/src/assets/img/ar-markers/u.png
  frontend/src/assets/img/ar-markers/v.png
  frontend/src/assets/img/ar-markers/w.png
  frontend/src/assets/img/ar-markers/x.png
  frontend/src/assets/img/ar-markers/y.png
  frontend/src/assets/img/ar-markers/z.png
  frontend/src/common/enums/lesson/alphabet-letter/alphabet-letter.enum.ts
  frontend/src/common/maps/skill-symbol-to-ar-marker/skill-symbol-to-ar-marker.map.ts
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/specific/ar-marker-modal/ar-marker-modal.tsx
  frontend/src/components/common/specific/specific.ts
  frontend/src/components/home/home.tsx
  frontend/src/components/lesson/components/results-modal/results-modal.tsx
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/racing/components/mode-card/mode-card.tsx
  frontend/src/components/room/components/results-modal/results-modal.tsx
  frontend/src/components/theory/components/block/block.tsx
Labels: frontend

fixed ar modal
  frontend/src/components/common/specific/ar-marker-modal/styles.module.scss
Labels: frontend

finished lessons without markers
  backend/src/data/repositories/lesson/lesson.repository.ts
  frontend/src/common/constants/lesson/lessons-amount-for-one-request/lessons-amount-for-one-request.constant.ts
  frontend/src/components/common/specific/lesson-card/lesson-card.tsx
  frontend/src/components/common/specific/lesson-card/styles.module.scss
  frontend/src/components/lessons/components/category-wrapper/category-wrapper.tsx
  frontend/src/components/lessons/components/category-wrapper/styles.module.scss
  frontend/src/components/lessons/components/create-lesson-modal/create-lesson-modal.tsx
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/lessons/styles.module.scss
  frontend/src/components/study-plan/study-plan.tsx
  frontend/src/components/study-plan/styles.module.scss
  frontend/src/store/modules/actions.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/auth/reducer.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/profile/actions.ts
  frontend/src/store/modules/profile/reducer.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/modules/settings/actions.ts
  frontend/src/store/modules/settings/reducer.ts
  package.json
Labels: root, backend, frontend

finished lessons
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/specific/ar-marker-modal/ar-marker-modal.tsx
  frontend/src/components/common/specific/ar-marker-modal/styles.module.scss
  frontend/src/components/common/specific/lesson-card/lesson-card.tsx
  frontend/src/components/common/specific/lesson-card/styles.module.scss
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/lessons/styles.module.scss
  frontend/src/components/study-plan/study-plan.tsx
  frontend/src/components/study-plan/styles.module.scss
Labels: frontend

finished typing canvas
  frontend/src/assets/sounds/clock-ring.mp3
  frontend/src/assets/sounds/clock-tick.mp3
  frontend/src/assets/sounds/error.mp3
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/function/function.ts
  frontend/src/common/constants/function/void-action/void-action.constant.ts
  frontend/src/common/constants/lesson/default-countdown-before-lesson/default-countdown-before-lesson.constant.ts
  frontend/src/common/constants/lesson/lesson.ts
  frontend/src/common/types/external/external.ts
  frontend/src/components/common/specific/specific.ts
  frontend/src/components/common/specific/typing-canvas/helpers/helpers.ts
  frontend/src/components/common/specific/typing-canvas/helpers/set-timer/set-timer.ts
  frontend/src/components/common/specific/typing-canvas/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/room/helpers/get-participants-rating.ts
  frontend/src/components/room/room.tsx
Labels: frontend

finished room logic
  frontend/src/assets/img/ar-icon.png
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/ar-camera/ar-camera.tsx
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/components.ts
  frontend/src/components/home/home.tsx
  frontend/src/components/home/styles.module.scss
  frontend/src/components/room/room.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  shared/src/common/types/lesson/lesson.ts
  shared/src/common/types/lesson/required-lesson-id-dto/required-lesson-id-dto.type.ts
Labels: shared, frontend

added lesson route
  backend/src/api/routes/room/room.route.ts
  backend/src/common/constants/lesson/lesson.ts
  backend/src/common/constants/lesson/random-lesson-count/random-lesson-count.constant.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/services.ts
  backend/src/validation-schemas/racing/add-room-lesson-id-params/add-room-lesson-id-params.schema.ts
  backend/src/validation-schemas/racing/racing.ts
  backend/src/validation-schemas/racing/remove-room-lesson-id-params/remove-room-lesson-id-params.schema.ts
Labels: backend

change type
  backend/src/common/types/lesson/lesson.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
Labels: backend

fixed requests
  frontend/src/store/modules/requests/constants.ts
Labels: frontend

finished home page
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/img/ar.png
  frontend/src/assets/img/commentator.gif
  frontend/src/assets/img/laptop.png
  frontend/src/components/home/home.tsx
  frontend/src/components/home/styles.module.scss
  frontend/src/components/room/helpers/helpers.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  its/package-lock.json
  its/package.json
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
Labels: root, shared, backend, frontend
