Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

ST-2: + added db migrations
  backend/src/data/migrations/.gitkeep
  backend/src/data/migrations/20221224201855_add_users_table.ts
  backend/src/data/migrations/20221224202315_add_refresh_tokens_table.ts
  backend/src/data/migrations/20221224203334_add_settings_table.ts
  backend/src/data/migrations/20221224204312_add_statistics_table.ts
  backend/src/data/migrations/20221224205349_add_lessons_table.ts
  backend/src/data/migrations/20221224211638_add_rooms_table.ts
  backend/src/data/migrations/20221224212306_add_rooms_to_users_table.ts
  backend/src/data/migrations/20221224212828_add_lessons_to_users_table.ts
  backend/src/data/migrations/20221224213126_add_study_plans_table.ts
  backend/src/data/migrations/20221224213305_add_skills_table.ts
  backend/src/data/migrations/20221224215155_add_lessons_to_skills_table.ts
  backend/src/data/migrations/20221224215349_add_users_to_skills_table.ts
Labels: backend

ST-2: + added env example files
  backend/.env.example
  frontend/.env.example
Labels: backend, frontend

ST-2: * fixed one to one relations
  backend/src/data/migrations/20221224202315_add_refresh_tokens_table.ts
  backend/src/data/migrations/20221224203334_add_settings_table.ts
  backend/src/data/migrations/20221224204312_add_statistics_table.ts
  backend/src/data/migrations/20221224205349_add_lessons_table.ts
  backend/src/data/migrations/20221224211638_add_rooms_table.ts
  backend/src/data/migrations/20221224212306_add_rooms_to_users_table.ts
  backend/src/data/migrations/20221224212828_add_lessons_to_users_table.ts
  backend/src/data/migrations/20221224213126_add_study_plans_table.ts
  backend/src/data/migrations/20221224215155_add_lessons_to_skills_table.ts
  backend/src/data/migrations/20221224215349_add_users_to_skills_table.ts
Labels: backend

ST-2: + added types for DB models
  backend/src/common/enums/enums.ts
  backend/src/common/enums/models-keys/lesson-key.ts
  backend/src/common/enums/models-keys/lesson-to-skill-key.ts
  backend/src/common/enums/models-keys/lesson-to-user-key.ts
  backend/src/common/enums/models-keys/models-keys.ts
  backend/src/common/enums/models-keys/refresh-token-key.ts
  backend/src/common/enums/models-keys/room-key.ts
  backend/src/common/enums/models-keys/room-to-user-key.ts
  backend/src/common/enums/models-keys/settings-key.ts
  backend/src/common/enums/models-keys/skill-key.ts
  backend/src/common/enums/models-keys/statistics-key.ts
  backend/src/common/enums/models-keys/study-plan-key.ts
  backend/src/common/enums/models-keys/user-key.ts
  backend/src/common/enums/models-keys/user-to-skill-key.ts
  backend/src/common/interfaces/interfaces.ts
  backend/src/common/interfaces/records/lesson-record.interface.ts
  backend/src/common/interfaces/records/lesson-to-skill-record.interface.ts
  backend/src/common/interfaces/records/lesson-to-user-record.interface.ts
  backend/src/common/interfaces/records/records.ts
  backend/src/common/interfaces/records/refresh-token-record.interface.ts
  backend/src/common/interfaces/records/room-record.interface.ts
  backend/src/common/interfaces/records/room-to-user-record.interface.ts
  backend/src/common/interfaces/records/settings-record.interface.ts
  backend/src/common/interfaces/records/skill-record.interface.ts
  backend/src/common/interfaces/records/statistics-record.interface.ts
  backend/src/common/interfaces/records/study-plan-record.interface.ts
  backend/src/common/interfaces/records/user-record.interface.ts
  backend/src/common/interfaces/records/user-to-skill-record.interface.ts
  backend/src/data/migrations/20221224204312_add_statistics_table.ts
  backend/src/data/migrations/20221224213305_add_skills_table.ts
  backend/src/data/models/.gitkeep
Labels: backend

ST-2: * moved models keys enums to folders
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/env/env.enum.ts
  backend/src/common/enums/app/environment/environment.enum.ts
  backend/src/common/enums/db/db.ts
  backend/src/common/enums/db/models-keys/common-key/common-key.enum.ts
  backend/src/common/enums/db/models-keys/lesson-key/lesson-key.enum.ts
  backend/src/common/enums/db/models-keys/lesson-to-skill-key/lesson-to-skill-key.enum.ts
  backend/src/common/enums/db/models-keys/models-keys.ts
  backend/src/common/enums/db/models-keys/refresh-token-key/refresh-token-key.enum.ts
  backend/src/common/enums/db/models-keys/room-key/room-key.enum.ts
  backend/src/common/enums/db/models-keys/settings-key/settings-key.enum.ts
  backend/src/common/enums/db/models-keys/skill-key/skill-key.enum.ts
  backend/src/common/enums/db/models-keys/statistics-key/statistics-key.enum.ts
  backend/src/common/enums/db/models-keys/user-key/user-key.enum.ts
  backend/src/common/enums/db/models-keys/user-to-finished-lesson-key/user-to-finished-lesson-key.enum.ts
  backend/src/common/enums/db/models-keys/user-to-room-key/user-to-room-key.enum.ts
  backend/src/common/enums/db/models-keys/user-to-skill-key/user-to-skill-key.enum.ts
  backend/src/common/enums/db/models-keys/user-to-study-plan-lesson-key/user-to-study-plan-lesson-key.enum.ts
  backend/src/common/enums/db/table-name/table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/models-keys/models-keys.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/refresh-token/refresh-token.model.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/models/settings/settings.model.ts
  backend/src/data/models/skill/skill.model.ts
  backend/src/data/models/statistics/statistics.model.ts
  backend/src/data/models/user-to-finished-lesson/user-to-finished-lesson.model.ts
  backend/src/data/models/user-to-room/user-to-room.model.ts
  backend/src/data/models/user-to-skill/user-to-skill.model.ts
  backend/src/data/models/user-to-study-plan-lesson/user-to-study-plan-lesson.model.ts
  backend/src/data/models/user/user.model.ts
Labels: backend

ST-2: * moved DB interfaces to folders
  backend/src/common/interfaces/records/common-records/common-record.interface.ts
  backend/src/common/interfaces/records/lesson-record/lesson-record.interface.ts
  backend/src/common/interfaces/records/lesson-to-skill-record/lesson-to-skill-record.interface.ts
  backend/src/common/interfaces/records/records.ts
  backend/src/common/interfaces/records/refresh-token-record/refresh-token-record.interface.ts
  backend/src/common/interfaces/records/room-record/room-record.interface.ts
  backend/src/common/interfaces/records/settings-record/settings-record.interface.ts
  backend/src/common/interfaces/records/skill-record/skill-record.interface.ts
  backend/src/common/interfaces/records/statistics-record/statistics-record.interface.ts
  backend/src/common/interfaces/records/user-record/user-record.interface.ts
  backend/src/common/interfaces/records/user-to-finished-lesson-record/user-to-finished-lesson-record.interface.ts
  backend/src/common/interfaces/records/user-to-room-record/user-to-room-record.interface.ts
  backend/src/common/interfaces/records/user-to-skill-record/user-to-skill-record.interface.ts
  backend/src/common/interfaces/records/user-to-study-plan-lesson-record/user-to-study-plan-lesson-record.interface.ts
Labels: backend

ST-2: * fixed typo
  backend/knexfile.ts
  backend/src/server.ts
Labels: backend

Changed name to "Smart Typer"
  README.md
Labels: root

ST-4: + added base header elements
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/components/components.ts
  frontend/src/components/common/header/components/nav-item/nav-item.tsx
  frontend/src/components/common/header/components/nav-item/styles.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/header/styles.module.scss
  frontend/src/components/home/home.tsx
Labels: frontend

ST-4: * fixed clsx path
  frontend/src/helpers/helpers.ts
Labels: frontend

ST-5: * fixed project configuration
  .eslintrc.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .ls-lint.yml
  .prettierrc.yml
  backend/.eslintrc.yml
  backend/package.json
  backend/src/server.ts
  backend/tsconfig.json
  frontend/.eslintrc.yml
  frontend/package.json
  frontend/src/common/types/react/react.ts
  frontend/src/common/types/types.ts
  frontend/src/store/auth/actions.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
  shared/.eslintrc.yml
  shared/package.json
  shared/src/exceptions/http-error/http-error.exception.ts
  shared/tsconfig.json
  tsconfig.json
Labels: root, shared, backend, frontend

ST-5: * fixed tsconfig file on BE
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/common/interfaces/records/common-records/common-record.interface.ts
  backend/src/common/interfaces/records/lesson-record/lesson-record.interface.ts
  backend/src/common/interfaces/records/lesson-to-skill-record/lesson-to-skill-record.interface.ts
  backend/src/common/interfaces/records/refresh-token-record/refresh-token-record.interface.ts
  backend/src/common/interfaces/records/room-record/room-record.interface.ts
  backend/src/common/interfaces/records/settings-record/settings-record.interface.ts
  backend/src/common/interfaces/records/skill-record/skill-record.interface.ts
  backend/src/common/interfaces/records/statistics-record/statistics-record.interface.ts
  backend/src/common/interfaces/records/user-record/user-record.interface.ts
  backend/src/common/interfaces/records/user-to-finished-lesson-record/user-to-finished-lesson-record.interface.ts
  backend/src/common/interfaces/records/user-to-room-record/user-to-room-record.interface.ts
  backend/src/common/interfaces/records/user-to-skill-record/user-to-skill-record.interface.ts
  backend/src/common/interfaces/records/user-to-study-plan-lesson-record/user-to-study-plan-lesson-record.interface.ts
  backend/src/data/models/base/base.model.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/refresh-token/refresh-token.model.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/models/settings/settings.model.ts
  backend/src/data/models/skill/skill.model.ts
  backend/src/data/models/statistics/statistics.model.ts
  backend/src/data/models/user-to-finished-lesson/user-to-finished-lesson.model.ts
  backend/src/data/models/user-to-room/user-to-room.model.ts
  backend/src/data/models/user-to-skill/user-to-skill.model.ts
  backend/src/data/models/user-to-study-plan-lesson/user-to-study-plan-lesson.model.ts
  backend/src/data/models/user/user.model.ts
  backend/tsconfig.json
  package-lock.json
  package.json
Labels: root, backend

ST-5: * changed path resolver library
  shared/package-lock.json
  shared/package.json
  shared/tsconfig.json
Labels: shared

ST-2: * updated lessons_to_skills table
  backend/src/common/enums/db/models-keys/lesson-to-skill-key/lesson-to-skill-key.enum.ts
  backend/src/common/interfaces/records/lesson-to-skill-record/lesson-to-skill-record.interface.ts
  backend/src/data/migrations/20230212171108_update_lessons_to_skills_table.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
Labels: backend

ST-4: * updated bootstrap version
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

ST-4: + added dropdown
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/.gitkeep
  frontend/src/assets/img/background.png
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/function/function.ts
  frontend/src/common/types/function/void-action.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.ts
  frontend/src/components/common/dropdown/common/interfaces/button/button.interface.ts
  frontend/src/components/common/dropdown/common/interfaces/interfaces.ts
  frontend/src/components/common/dropdown/common/interfaces/item-data/item-data.interface.ts
  frontend/src/components/common/dropdown/common/interfaces/link/link.interface.ts
  frontend/src/components/common/dropdown/dropdown.tsx
  frontend/src/components/common/dropdown/styles.module.scss
  frontend/src/components/common/header/components/components.ts
  frontend/src/components/common/header/components/nav-item/nav-item.tsx
  frontend/src/components/common/header/components/nav-item/styles.module.scss
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/hocs/with-header/styles.module.scss
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/components/common/icon-link/icon-link.tsx
  frontend/src/components/common/icon-link/styles.module.scss
  frontend/src/components/common/link/link.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/components/settings/settings.tsx
Labels: frontend

ST-4: * added rest props to Link component
  frontend/src/components/common/dropdown/dropdown.tsx
  frontend/src/components/common/icon-link/icon-link.tsx
  frontend/src/components/common/link/link.tsx
Labels: frontend

ST-4: * set react-avatar to exact version
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

ST-4: * added folder for external components
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/ui/ui.ts
  frontend/src/common/enums/ui/user-label-color/user-label-color.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/avatar/avatar.tsx
  frontend/src/components/common/avatar/maps/maps.ts
  frontend/src/components/common/avatar/maps/size-to-px/size-to-px.map.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/dropdown/dropdown.tsx
  frontend/src/components/common/header/components/nav-item/nav-item.tsx
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/hocs/with-header/styles.module.scss
  frontend/src/components/common/icon-link/icon-link.tsx
  frontend/src/components/common/link/link.tsx
  frontend/src/components/common/spinner/maps/maps.ts
  frontend/src/components/common/spinner/maps/size-to-rem/size-to-rem.map.ts
  frontend/src/components/common/spinner/spinner.tsx
  frontend/src/components/common/user-label/user-label.tsx
  frontend/src/components/external/external.ts
Labels: frontend

ST-6: + added skills data
  backend/package-lock.json
  backend/package.json
  backend/src/data/migrations/20221224212306_add_users_to_rooms_table.ts
  backend/src/data/migrations/20230417190829_add_skills_data.ts
Labels: backend

ST-6: * modified users_to_rooms table
  backend/src/common/enums/db/model-key/user-to-room-key/user-to-room-key.enum.ts
  backend/src/common/interfaces/record/user-to-room-record/user-to-room-record.interface.ts
  backend/src/data/migrations/20221224212306_add_users_to_rooms_table.ts
  backend/src/data/models/user-to-room/user-to-room.model.ts
Labels: backend

ST-6: * modified rooms table
  backend/src/common/interfaces/record/room-record/room-record.interface.ts
  backend/src/data/migrations/20221224211638_add_rooms_table.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/models/user/user.model.ts
Labels: backend

ST-6: * modified users table
  backend/src/common/interfaces/record/user-record/user-record.interface.ts
  backend/src/data/migrations/20221224201855_add_users_table.ts
Labels: backend

ST-6: * set server.ts
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/middlewares/auth/auth.middleware.ts
  backend/src/api/middlewares/error-handler/error-handler.middleware.ts
  backend/src/api/middlewares/middlewares.ts
  backend/src/api/middlewares/validation/validation.middleware.ts
  backend/src/api/routes/auth/auth.route.ts
  backend/src/api/routes/routes.ts
  backend/src/common/types/app/app.ts
  backend/src/common/types/app/logger/logger.type.ts
  backend/src/common/types/types.ts
  backend/src/data/repositories/repositories.ts
  backend/src/server.ts
  backend/src/services/services.ts
  frontend/.stylelintrc.yml
  frontend/package-lock.json
  frontend/src/common/types/react/fc.type.ts
  shared/src/validation-schemas/regex/regex.ts
Labels: root, shared, backend, frontend

ST-6: - removed ValidationSchema
  backend/src/common/types/types.ts
  backend/src/common/types/validation/validation.ts
Labels: backend

ST-6: - removed unused enums
  backend/src/common/enums/http/http.ts
Labels: backend

ST-6: + added auth store
  backend/src/common/interfaces/user/user-with-password/user-with-password.interface.ts
  backend/src/common/interfaces/user/user.ts
  backend/src/services/user/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/interfaces/user/user.ts
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/app/async-thunk-callback/async-thunk-callback.type.ts
  frontend/src/common/types/app/async-thunk-options/async-thunk-options.type.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/services/services.ts
  frontend/src/services/storage/storage.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/auth.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/auth/slice.ts
  frontend/src/store/create-async-thunk.ts
  frontend/src/store/store.ts
  shared/src/common/interfaces/user/user-with-tokens/user-with-tokens.interface.ts
  shared/src/common/interfaces/user/user/user.interface.ts
Labels: shared, backend, frontend

ST-6: * disabled eslint rule
  frontend/src/store/store.ts
Labels: frontend

ST-6: + added request reducer
  frontend/src/common/enums/app/reducer-name/reducer-name.enum.ts
  frontend/src/components/common/icon-button/icon-button.tsx
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/auth.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/common.ts
  frontend/src/store/request/common.ts
  frontend/src/store/request/reducer.ts
  frontend/src/store/request/request.ts
  frontend/src/store/root-reducer.ts
  package.json
Labels: root, frontend

ST-6: * fixed createAsyncThunk
  frontend/src/store/create-async-thunk.ts
Labels: frontend

ST-6: * fixed VoidAction
  frontend/src/common/types/function/void-action/void-action.type.ts
Labels: frontend

ST-6: * fixed buttons borders
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/sign/components/google-button/styles.module.scss
  frontend/src/components/common/sign/components/submit-button/styles.module.scss
Labels: frontend

ST-6: * fixed VoidCallback
  frontend/src/common/types/function/function.ts
  frontend/src/common/types/function/void-action/void-action.type.ts
  frontend/src/common/types/function/void-callback/void-callback.type.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/dropdown/common/interfaces/button/button.interface.ts
  frontend/src/components/common/sign/styles.module.scss
Labels: frontend

ST-6: * fixed whiteSheet medium width
  frontend/src/components/common/white-sheet/styles.module.scss
Labels: frontend

ST-6: + added LogIn and SignUp components
  backend/src/api/routes/auth/auth.route.ts
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/common/enums/ui/form-field-label/form-field-type.enum.ts
  frontend/src/common/enums/ui/form-field-type/form-field-type.enum.ts
  frontend/src/common/enums/ui/ui.ts
  frontend/src/common/types/react/hook-form/hook-form.ts
  frontend/src/common/types/react/react.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/common.ts
  frontend/src/components/common/form-field/components/components.ts
  frontend/src/components/common/form-field/components/hiden-input/hiden-input.tsx
  frontend/src/components/common/form-field/components/hiden-input/styles.module.scss
  frontend/src/components/common/form-field/components/input/input.tsx
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/form-field/styles.module.scss
  frontend/src/components/common/sign/components/alternative-route/alternative-route.tsx
  frontend/src/components/common/sign/components/alternative-route/styles.module.scss
  frontend/src/components/common/sign/components/google-button/google-button.tsx
  frontend/src/components/common/sign/components/google-button/styles.module.scss
  frontend/src/components/common/sign/components/submit-button/styles.module.scss
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/common/sign/styles.module.scss
  frontend/src/components/common/white-sheet/styles.module.scss
  frontend/src/components/external/external.ts
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/services/api/auth-api/auth-api.service.ts
Labels: backend, frontend

ST-6: * fixed signUpSchema
  shared/src/validation-schemas/auth/sign-up/sign-up.schema.ts
Labels: shared

ST-6: * fixed handleError
  frontend/src/helpers/exception/handle-error/handle-error.ts
Labels: frontend

handleSaveChanges profile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/file/cropped-image-type/cropped-image-type.constant.ts
  frontend/src/common/constants/file/file.ts
  frontend/src/components/common/sign/components/google-button/google-button.tsx
  frontend/src/components/external/external.ts
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/helpers/exception/exception.ts
  frontend/src/helpers/exception/handle-external-error/handle-external-error.ts
  frontend/src/helpers/file/bytes-to-megabytes/bytes-to-megabytes.helper.ts
  frontend/src/helpers/file/canvas-to-blob/canvas-to-blob.helper.ts
  frontend/src/helpers/file/file.ts
  frontend/src/helpers/helpers.ts
  frontend/src/services/notification/notification.service.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/file/allowed-file-types/allowed-file-types.constant.ts
  shared/src/common/constants/file/file.ts
  shared/src/common/constants/file/max-file-size/max-file-size.constant.ts
  shared/src/common/enums/exception/validation-error-message/validation-error-message.enum.ts
Labels: shared, frontend

handleSaveChanges profile
  frontend/src/components/profile/profile.tsx
Labels: frontend

handleSaveChanges profile
  frontend/src/components/profile/profile.tsx
Labels: frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'
