Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'

front start
  .eslintrc.yml
  backend/src/data/repositories/settings/settings.repository.ts
  backend/src/services/settings/settings.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/helpers/route/route.ts
Labels: root, backend, frontend

fix
  backend/src/services/settings/settings.service.ts
Labels: backend

started work on handleLessonResult method
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/common/constants/racing/racing.ts
  backend/src/common/enums/db/db.ts
  backend/src/common/enums/db/records-sort-order/records-sort-order.enum.ts
  backend/src/common/enums/db/relation-mapping/lesson-relation-mapping/lesson-relation-mapping.enum.ts
  backend/src/common/enums/db/relation-mapping/user-relation-mapping/user-relation-mapping.enum.ts
  backend/src/common/types/lesson/lesson-with-skill-names/lesson-with-skill-names.type.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/common/types/skill/skill.type.ts
  backend/src/common/types/statistics/statistics.ts
  backend/src/common/types/types.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/statistics/statistics.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/statistics/calculate-statistics/calculate-statistics.helper.ts
  backend/src/helpers/statistics/statistics.ts
  backend/src/helpers/study-plan/calculate-lesson-average-speed/calculate-lesson-average-speed.helper.ts
  backend/src/helpers/study-plan/calculate-lesson-best-skill/calculate-lesson-best-skill.helper.ts
  backend/src/helpers/study-plan/study-plan.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/constants/racing/racing.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/racing/milliseconds-in-second/milliseconds-in-second.constant.ts
  shared/src/common/constants/racing/racing.ts
  shared/src/common/constants/racing/seconds-in-minute/seconds-in-minute.constant.ts
  shared/src/common/types/its/bkt-result/bkt-result.type.ts
Labels: shared, backend, frontend

worked on handleLessonResult
  backend/src/common/types/lesson/finished-lesson/finished-lesson.type.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/common/types/settings/settings.ts
  backend/src/common/types/types.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/statistics/statistics.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/services.ts
  backend/src/services/settings/settings.service.ts
  backend/src/services/statistics/statistics.service.ts
  backend/src/services/user/user.service.ts
Labels: backend

finished mappers for ITS
  backend/src/common/enums/db/relation-mapping/lesson-relation-mapping/lesson-relation-mapping.enum.ts
  backend/src/common/types/lesson/lesson-with-skill-names/lesson-with-skill-names.type.ts
  backend/src/common/types/lesson/lesson-with-skills/lesson-with-skills.type.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/skill/skill.repository.ts
  backend/src/helpers/study-plan/map-lesson-result-to-skill-levels-payload/map-lesson-result-to-skill-levels-payload.helper.ts
  backend/src/helpers/study-plan/map-lessons-to-next-study-plan-lesson-payload/map-lessons-to-next-study-plan-lesson-payload.helper.ts
  backend/src/helpers/study-plan/study-plan.ts
  backend/src/services/lesson/lesson.service.ts
  shared/src/common/types/its/ahp-payload/ahp-payload.type.ts
  shared/src/common/types/its/ahp-result/ahp-result.type.ts
  shared/src/common/types/its/bkt-payload/bkt-payload.type.ts
  shared/src/common/types/its/bkt-payload/bkt-result/bkt-result.type.ts
  shared/src/common/types/its/irt-payload/irt-payload.type.ts
  shared/src/common/types/its/its.ts
Labels: shared, backend

added scroll
  frontend/src/assets/css/main.scss
Labels: frontend

added room repository queries
  backend/src/common/enums/db/relation-mapping/room-relation-mapping/room-relation-mapping.enum.ts
  backend/src/common/types/racing/participants-count/participants-count.type.ts
  backend/src/common/types/racing/racing.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/room/room.service.ts
Labels: backend

fix migrations
  backend/src/data/migrations/20221224212827_add_skills_table.ts
  backend/src/data/migrations/20230417190829_add_skills_data.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/services.ts
Labels: backend

init setup
  backend/knexfile.ts
  backend/src/common/constants/app/env/env.constant.ts
  backend/src/server.ts
  backend/src/services/logger/logger.service.ts
  backend/src/services/socket/socket.service.ts
Labels: backend

debug auth queries
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/middlewares/validation/validation.middleware.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/skill/skill.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/dependencies/dependencies.ts
  backend/src/exceptions/validation-error/validation-error.exception.ts
  backend/src/server.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  backend/src/validation-schemas/auth/log-in-google/log-in-google.schema.ts
  backend/src/validation-schemas/auth/refresh-token/refresh-token.schema.ts
  backend/src/validation-schemas/auth/set-password/set-password.schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/dependencies/dependencies.ts
  frontend/src/validation-schemas/auth/set-password/set-password.schema.ts
  shared/src/dependencies/dependencies.ts
  shared/src/validation-schemas/auth/log-in/log-in.schema.ts
  shared/src/validation-schemas/auth/password/password.schema.ts
  shared/src/validation-schemas/auth/reset-password/reset-password.schema.ts
  shared/src/validation-schemas/auth/sign-up/sign-up.schema.ts
  shared/src/validation-schemas/racing/room/room.schema.ts
Labels: shared, backend, frontend

fixed register queries in backend
  backend/src/common/enums/db/relation-mapping/relation-mapping.ts
  backend/src/common/enums/db/relation-mapping/user-to-room-relation-mapping/user-to-room-relation-mapping.enum.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/models/user-to-room/user-to-room.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/user/user.repository.ts
Labels: backend

finished goggle-log-in
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/hocs/with-header/with-header.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/log-in-google/log-in-google.tsx
  frontend/src/index.tsx
Labels: backend, frontend

finished settings
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/api/routes/settings/settings.route.ts
  backend/src/common/enums/token/token-expiration-time/token-expiration-time.enum.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/settings/settings.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/validation-schemas/settings/settings.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/services/http/http.service.ts
  shared/src/common/constants/settings/max-countdown-before-game/max-countdown-before-game.constant.ts
  shared/src/common/constants/settings/max-game-time/max-game-time.constant.ts
  shared/src/common/constants/settings/min-countdown-before-game/min-countdown-before-game.constant.ts
  shared/src/common/constants/settings/min-game-time/min-game-time.constant.ts
  shared/src/common/constants/settings/settings.ts
  shared/src/validation-schemas/settings/settings.ts
  shared/src/validation-schemas/settings/update-settings/update-settings.schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

finished getProfileInfoById
  backend/src/api/routes/user/user.route.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
Labels: backend

finished getting current user
  backend/src/data/repositories/refresh-token/refresh-token.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/token/token.service.ts
Labels: backend

eslint
  backend/src/data/repositories/user/user.repository.ts
Labels: backend

fixed eslint errors
  .eslintrc.yml
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/helpers/statistics/calculate-statistics/calculate-statistics.helper.ts
  backend/src/helpers/study-plan/map-lesson-result-to-skill-levels-payload/map-lesson-result-to-skill-levels-payload.helper.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/helpers/racing/get-game-commentator-text/common/constants/today-participants-text/today-participants-text.constant.ts
  shared/src/common/enums/exception/http-error-message/http-error-message.enum.ts
Labels: root, shared, backend, frontend

finished update current
  backend/src/api/routes/user/user.route.ts
  backend/src/data/repositories/user/user.repository.ts
Labels: backend

finished update avatar
  backend/.env.example
  backend/src/api/middlewares/file/file.middleware.ts
  backend/src/common/constants/app/env/env.constant.ts
  backend/src/common/constants/file/file.ts
  backend/src/common/enums/token/token-expiration-time/token-expiration-time.enum.ts
  backend/src/helpers/file/file.ts
  backend/src/helpers/file/megabytes-to-bytes/megabytes-to-bytes.helper.ts
  backend/src/services/s3/s3.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/constants/file/file.ts
  frontend/src/helpers/file/bytes-to-megabytes/bytes-to-megabytes.helper.ts
  frontend/src/services/api/user-api/user-api.service.ts
  shared/src/common/constants/file/bytes-in-megabyte/bytes-in-megabyte.constant.ts
  shared/src/common/constants/file/file.ts
Labels: shared, backend, frontend

finished delete avatar
  backend/src/services/user/user.service.ts
Labels: backend

fixed settings
  frontend/src/components/app/app.tsx
  frontend/src/components/common/avatar/avatar.tsx
  frontend/src/components/common/form-field/components/checkbox/checkbox.tsx
  frontend/src/components/common/form-field/components/input/input.tsx
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/hocs/content-wrapper/styles.module.scss
  frontend/src/components/common/hocs/with-header/with-header.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/user-label/user-label.tsx
  frontend/src/components/settings/settings.tsx
  frontend/src/components/settings/styles.module.scss
  frontend/src/hooks/use-form/use-form.hook.ts
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/services/api/settings-api/settings-api.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/settings/actions.ts
Labels: frontend

finished log-out
  backend/src/api/routes/auth/auth.route.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/token/token.service.ts
  frontend/src/services/api/auth-api/auth-api.service.ts
  frontend/src/store/modules/auth/actions.ts
Labels: backend, frontend

fixed email check
  backend/src/services/user/user.service.ts
Labels: backend

clean logs
  backend/src/services/user/user.service.ts
Labels: backend

fixed settings
  frontend/src/assets/css/main.scss
  frontend/src/common/enums/ui/card-header-color/card-header-color.enum.ts
  frontend/src/common/enums/ui/content-wrapper-size/content-wrapper-size.enum.ts
  frontend/src/common/enums/ui/ui.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/common.ts
  frontend/src/components/common/hocs/content-wrapper/styles.module.scss
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/settings/common/enums/enums.ts
  frontend/src/components/settings/components/card/card.tsx
  frontend/src/components/settings/components/components.ts
  frontend/src/components/settings/settings.tsx
  frontend/src/components/settings/styles.module.scss
  frontend/src/services/http/http.service.ts
  frontend/src/store/modules/auth/action-type.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/auth/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/requests/constants.ts
  frontend/src/store/modules/requests/reducer.ts
Labels: frontend

finished reset password
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mailer/mailer.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/components.ts
Labels: backend, frontend

fixed max password length
  shared/src/common/constants/user/max-password-length/max-password-length.constant.ts
Labels: shared

fixed set password
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/auth/reducer.ts
Labels: frontend

moved models
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/lesson/lesson.service.ts
Labels: backend

finished create lesson
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/lesson/lesson.ts
  backend/src/common/constants/lesson/test-lesson-priority/test-lesson-priority.constant.ts
  backend/src/common/constants/study-plan/study-plan.ts
  backend/src/common/enums/db/relation-mapping/user-relation-mapping/user-relation-mapping.enum.ts
  backend/src/common/interfaces/record/lesson-record/lesson-record.interface.ts
  backend/src/data/migrations/20221224205349_add_lessons_table.ts
  backend/src/data/migrations/20230528142633_add_test_lessons_data.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/validation-schemas/lesson/lesson.ts
  backend/src/validation-schemas/validation-schemas.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/lesson/lesson.ts
  shared/src/common/constants/lesson/max-lesson-content-length/max-lesson-content-length.constant.ts
  shared/src/common/constants/lesson/max-lesson-name-length/max-lesson-name-length.constant.ts
  shared/src/common/constants/lesson/min-lesson-content-length/min-lesson-content-length.constant.ts
  shared/src/common/constants/lesson/min-lesson-name-length/min-lesson-name-length.constant.ts
  shared/src/common/constants/lesson/test-lesson-names/test-lesson-names.constant.ts
  shared/src/common/enums/exception/validation-error-message/validation-error-message.enum.ts
  shared/src/common/types/lesson/create-lesson-request-dto/create-lesson-request-dto.type.ts
  shared/src/validation-schemas/regex/regex.ts
  shared/src/validation-schemas/requests/lesson/create-lesson/create-lesson.schema.ts
  shared/src/validation-schemas/requests/lesson/lesson.ts
  shared/src/validation-schemas/requests/requests.ts
Labels: shared, backend

eslint fixes
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/room/room.service.ts
  backend/src/services/s3/s3.service.ts
  frontend/src/common/enums/object-key/finished-lesson-key/finished-lesson-key.enum.ts
  frontend/src/common/enums/object-key/google-url-key/google-url-key.enum.ts
  frontend/src/common/enums/object-key/participant-key/participant-key.enum.ts
  frontend/src/common/types/racing/game-room-with-optional-fields/game-room-with-optional-fields.type.ts
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/settings/settings.tsx
Labels: backend, frontend

finished joke
  backend/src/api/routes/joke/joke.route.ts
  backend/src/services/joke/joke.service.ts
Labels: backend

profile
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/lesson/lesson.ts
  frontend/src/common/enums/object-key/object-key.ts
  frontend/src/common/enums/object-key/set-password-key/set-password-key.enum.ts
  frontend/src/common/enums/ui/avatar-size/avatar-size.enum.ts
  frontend/src/common/enums/ui/form-field-label/form-field-type.enum.ts
  frontend/src/common/types/external/external.ts
  frontend/src/common/types/racing/game-room/game-room.type.ts
  frontend/src/components/common/avatar/avatar.tsx
  frontend/src/components/common/avatar/maps/size-to-px/size-to-px.map.ts
  frontend/src/components/common/form-field/components/components.ts
  frontend/src/components/common/form-field/components/file-selector/file-selector.tsx
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/components/profile/styles.module.scss
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/set-password/set-password.tsx
  frontend/src/components/settings/settings.tsx
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/requests/constants.ts
Labels: frontend

added create room schema
  backend/src/validation-schemas/racing/racing.ts
  backend/src/validation-schemas/validation-schemas.ts
  frontend/src/components/rooms/components/create-room-modal/create-room-modal.tsx
  frontend/src/validation-schemas/racing/racing.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/constants/racing/max-room-name-length/max-room-name-length.constant.ts
  shared/src/common/constants/racing/min-room-name-length/min-room-name-length.constant.ts
  shared/src/common/constants/racing/racing.ts
  shared/src/common/enums/exception/validation-error-message/validation-error-message.enum.ts
  shared/src/validation-schemas/fields/user/nickname/nickname.schema.ts
  shared/src/validation-schemas/fields/user/password/password.schema.ts
  shared/src/validation-schemas/requests/lesson/create-lesson/create-lesson.schema.ts
  shared/src/validation-schemas/requests/racing/create-room/create-room.schema.ts
  shared/src/validation-schemas/requests/racing/racing.ts
  shared/src/validation-schemas/requests/requests.ts
Labels: shared, backend, frontend

finished ITS service
  backend/src/services/its/its.service.ts
Labels: backend

finished study plan
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/helpers/study-plan/define-creator-type/define-creator-type.helper.ts
  backend/src/helpers/study-plan/study-plan.ts
Labels: backend

finished delete lesson
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/data/migrations/20221224202315_add_refresh_tokens_table.ts
  backend/src/data/migrations/20221224203334_add_settings_table.ts
  backend/src/data/migrations/20221224204312_add_statistics_table.ts
  backend/src/data/migrations/20221224205349_add_lessons_table.ts
  backend/src/data/migrations/20221224211638_add_rooms_table.ts
  backend/src/data/migrations/20221224212306_add_users_to_rooms_table.ts
  backend/src/data/migrations/20221224212828_add_users_to_finished_lessons_table.ts
  backend/src/data/migrations/20221224213126_add_users_to_study_plan_lessons_table.ts
  backend/src/data/migrations/20221224215155_add_lessons_to_skills_table.ts
  backend/src/data/migrations/20221224215349_add_users_to_skills_table.ts
  backend/src/data/migrations/20230212171108_update_lessons_to_skills_table.ts
  backend/src/data/migrations/20230528142633_add_test_lessons_data.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/services/lesson/lesson.service.ts
Labels: backend

finished create room
  backend/src/api/routes/room/room.route.ts
  backend/src/common/types/racing/racing.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/room/room.service.ts
  shared/src/common/types/racing/create-room-request-dto/create-room-request-dto.type.ts
  shared/src/common/types/racing/create-room-response-dto/create-room-response-dto.type.ts
  shared/src/common/types/racing/racing.ts
Labels: shared, backend

finished profile no-rating
  backend/src/services/socket/socket.service.ts
  frontend/src/assets/css/main.scss
  frontend/src/assets/css/variables.scss
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/avatar/maps/size-to-px/size-to-px.map.ts
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/form-field/components/checkbox/checkbox.tsx
  frontend/src/components/common/form-field/components/file-selector/file-selector.tsx
  frontend/src/components/common/form-field/components/hiden-input/hiden-input.tsx
  frontend/src/components/common/form-field/components/input/input.tsx
  frontend/src/components/common/form-field/form-field.tsx
  frontend/src/components/common/sign/components/alternative-route/alternative-route.tsx
  frontend/src/components/common/sign/styles.module.scss
  frontend/src/components/profile/components/components.ts
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/components/statistics/statistics.tsx
  frontend/src/components/profile/components/statistics/styles.module.scss
  frontend/src/components/profile/profile.tsx
  frontend/src/components/profile/styles.module.scss
  frontend/src/components/settings/settings.tsx
  frontend/src/components/settings/styles.module.scss
  frontend/src/components/theory/styles.module.scss
  frontend/src/components/theory/theory.tsx
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/store/modules/requests/reducer.ts
  frontend/src/store/modules/settings/actions.ts
  frontend/src/validation-schemas/user/update-user-info/update-user-info.schema.ts
  frontend/src/validation-schemas/user/user.ts
  shared/src/common/enums/http/content-type/content-type.enum.ts
Labels: shared, backend, frontend

finished get rooms
  backend/src/data/repositories/room/room.repository.ts
Labels: backend
