Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

Fixed linter
  .editorconfig
  frontend/.env.example
  frontend/src/assets/sound/clock-ring.mp3
  frontend/src/assets/sound/clock-tick.mp3
  frontend/src/assets/sound/error.mp3
  frontend/src/common/constants/function/function.ts
  frontend/src/common/constants/function/void-action/void-action.constant.ts
  frontend/src/common/constants/lesson/default-countdown-before-lesson/default-countdown-before-lesson.constant.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/env/env.enum.ts
  frontend/src/common/enums/object-key/set-password-key/set-password-key.enum.ts
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/form-field/components/checkbox/styles.module.scss
  frontend/src/components/common/select/select.tsx
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lessons/common/constants/constants.ts
  frontend/src/components/lessons/common/constants/content-type-options/content-type-options.constant.ts
  frontend/src/components/lessons/common/constants/creator-type-options/creator-type-options.constant.ts
  frontend/src/components/lessons/components/category-wrapper/category-wrapper.tsx
  frontend/src/components/lessons/components/components.ts
  frontend/src/components/lessons/helpers/get-filters-params/get-filters-params.helper.ts
  frontend/src/components/lessons/helpers/helpers.ts
  frontend/src/components/room/room.tsx
  frontend/src/store/modules/profile/actions.ts
  shared/src/common/enums/object-key/game-room-key/game-room-key.enum.ts
  shared/src/common/enums/object-key/pagination-key/pagination-key.enum.ts
  shared/src/common/enums/object-key/profile-info-key/profile-info-key.enum.ts
  shared/src/common/enums/object-key/share-url-key/share-url-key.enum.ts
Labels: root, shared, frontend

Fixed styles
  frontend/package.json
  frontend/src/components/lesson/styles.module.scss
  frontend/src/components/rooms/components/share-room-modal/styles.module.scss
Labels: frontend

added ssl
  backend/knexfile.ts
  backend/src/common/constants/app/env/env.constant.ts
Labels: backend

configured heroku
  package.json
Labels: root

fixed node version
  backend/package.json
  frontend/package.json
  its/package.json
  package.json
  shared/package.json
Labels: root, shared, backend, frontend

fixed node version
  backend/package-lock.json
  frontend/package-lock.json
  its/package-lock.json
  package-lock.json
  shared/package-lock.json
Labels: root, shared, backend, frontend

fixed commands order
  package.json
Labels: root

fixed imports
  backend/src/helpers/study-plan/calculate-lesson-best-skill/calculate-lesson-best-skill.helper.ts
  backend/src/services/joke/joke.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/modules/profile/actions.ts
Labels: backend, frontend

fixed paths
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
  package.json
Labels: root, backend

fixed build
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/button/button.tsx
  frontend/src/components/lesson/helpers/map-lesson-statistics-to-results/map-lesson-statistics-to-results.helper.ts
  its/package.json
  package.json
  shared/package.json
  shared/src/dependencies/dependencies.ts
  shared/src/dependencies/yup/yup.dependency.ts
Labels: root, shared, backend, frontend

fixed build
  package.json
Labels: root

fixed build
  package.json
Labels: root

added lesson delete
  backend/knexfile.ts
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/card/card.tsx
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/header/components/nav-item/nav-item.tsx
  frontend/src/components/common/header/components/nav-item/styles.module.scss
  frontend/src/components/common/icon-link/icon-link.tsx
  frontend/src/components/common/specific/lesson-card/lesson-card.tsx
  frontend/src/components/common/spinner/spinner.tsx
  frontend/src/components/home/styles.module.scss
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/rooms/components/share-room-modal/styles.module.scss
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
Labels: backend, frontend

fixed knex file
  backend/knexfile.ts
Labels: backend

finished its
  backend/knexfile.ts
  backend/src/common/types/its/its.ts
  backend/src/helpers/study-plan/map-lesson-result-to-skill-levels-payload/map-lesson-result-to-skill-levels-payload.helper.ts
  backend/src/services/lesson/lesson.service.ts
  its/src/algorithms/bkt/bkt.algorithm.ts
  its/src/algorithms/irt/irt.algorithm.ts
  its/src/common/constants/constants.ts
  its/src/common/types/skill-known-probabilities/skill-known-probabilities.type.ts
  its/src/common/types/skill-known-probability-for-lesson/skill-known-probability-for-lesson.type.ts
  its/src/common/types/skill-known-probability/skill-known-probability.type.ts
  its/src/common/types/skill-learned-probability/skill-learned-probability.type.ts
  its/src/common/types/skill-statistics-with-will-learn-probability/sskill-statistics-with-will-learn-probability.type.ts
  its/src/common/types/skill-will-learn-probability/skill-will-learn-probability.type.ts
  its/src/common/types/skills-guess-probability/skills-guess-probability.type.ts
  its/src/common/types/skills-slip-probability/skill-known-probability.type.ts
  its/src/common/types/types.ts
  its/src/helpers/bkt/bkt.ts
  its/src/helpers/bkt/calculate-guess-probability/calculate-guess-probability.helper.ts
  its/src/helpers/bkt/calculate-learned-probability/calculate-learned-probability.helper.ts
  its/src/helpers/bkt/calculate-skill-conditional-previous-learned-probability/calculate-skill-conditional-previous-learned-probability.helper.ts
  its/src/helpers/bkt/calculate-slip-probability/calculate-slip-probability.helper.ts
  its/src/helpers/common/calculate-will-learn-probability/calculate-will-learn-probability.helper.ts
  its/src/helpers/common/common.ts
  its/src/helpers/helpers.ts
  its/src/helpers/irt/calculate-known-probability-for-lesson/calculate-known-probability-for-lesson.helper.ts
  its/src/helpers/irt/calculate-known-probability/calculate-known-probability.helper.ts
  its/src/helpers/irt/calculate-lesson-complexity/calculate-lesson-complexity.helper.ts
  its/src/helpers/irt/irt.ts
  its/src/helpers/irt/solve-equation/solve-equation.helper.ts
  shared/src/common/types/its/additional/additional.ts
  shared/src/common/types/its/additional/skill-lesson-statistics/skill-lesson-statistics.type.ts
  shared/src/common/types/its/bkt-payload/bkt-payload.type.ts
  shared/src/common/types/its/irt-payload/irt-payload.type.ts
Labels: shared, backend

started lesson
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/room/room.tsx
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
Labels: frontend

finished lesson
  frontend/src/common/enums/object-key/participant-key/participant-key.enum.ts
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/room/room.tsx
Labels: frontend

ar-fix
  frontend/public/index.html
Labels: frontend

fixed styles
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/lesson/styles.module.scss
Labels: frontend

tested hiro
  frontend/src/assets/img/ar-markers/hiro.jpg
  frontend/src/common/maps/skill-symbol-to-ar-marker/skill-symbol-to-ar-marker.map.ts
Labels: frontend

fixed styles
  frontend/src/components/lesson/lesson.tsx
Labels: frontend

fixed styles
  frontend/src/components/lesson/lesson.tsx
Labels: frontend

fixed algorithms
  its/package.json
  its/src/algorithms/bkt/bkt.algorithm.ts
  its/src/algorithms/irt/irt.algorithm.ts
  its/src/helpers/common/calculate-will-learn-probability/calculate-will-learn-probability.helper.ts
  its/src/helpers/irt/calculate-known-probability-for-lesson/calculate-known-probability-for-lesson.helper.ts
  its/src/helpers/irt/solve-equation/solve-equation.helper.ts
Labels: none

fixed AR
  frontend/public/index.html
  frontend/src/components/ar-camera/ar-camera.tsx
Labels: frontend

fixed AR
  frontend/src/assets/img/ar-markers/hiro.jpg
  frontend/src/common/maps/skill-symbol-to-ar-marker/skill-symbol-to-ar-marker.map.ts
Labels: frontend

finished ar
  backend/src/server.ts
  frontend/public/ar-camera.html
  frontend/public/index.html
  frontend/public/markers/a.patt
  frontend/public/markers/b.patt
  frontend/public/markers/c.patt
  frontend/public/markers/d.patt
  frontend/public/markers/e.patt
  frontend/public/markers/f.patt
  frontend/public/markers/g.patt
  frontend/public/markers/h.patt
  frontend/public/markers/i.patt
  frontend/public/markers/j.patt
  frontend/public/markers/k.patt
  frontend/public/markers/kkkk.patt
  frontend/public/markers/l.patt
  frontend/public/markers/m.patt
  frontend/public/markers/n.patt
  frontend/public/markers/o.patt
  frontend/public/markers/p.patt
  frontend/public/markers/q.patt
  frontend/public/markers/r.patt
  frontend/public/markers/s.patt
  frontend/public/markers/t.patt
  frontend/public/markers/u.patt
  frontend/public/markers/v.patt
  frontend/public/markers/w.patt
  frontend/public/markers/x.patt
  frontend/public/markers/y.patt
  frontend/public/markers/z.patt
  frontend/public/models/scene.bin
  frontend/public/models/scene.gltf
  frontend/public/models/textures/fabric_brown_normal.png
Labels: backend, frontend

fixed lesson
  backend/src/services/room/room.service.ts
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/hocs/content-wrapper/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/helpers/set-timer/set-timer.ts
  frontend/src/components/common/specific/typing-canvas/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/external/external.ts
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/lesson/styles.module.scss
  frontend/src/components/room/components/participant/index.tsx
  frontend/src/components/room/components/participant/styles.module.scss
  frontend/src/components/room/room.tsx
  frontend/src/components/room/styles.module.scss
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/racing/reducer.ts
Labels: backend, frontend

finished lesson
  frontend/src/common/enums/object-key/object-key.ts
  frontend/src/common/enums/object-key/skills-statistic-key/skills-statistic-key.enum.ts
  frontend/src/components/common/card/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/helpers/set-timer/set-timer.ts
  frontend/src/components/common/specific/typing-canvas/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lesson/lesson.tsx
  frontend/src/components/log-in-google/log-in-google.tsx
  frontend/src/components/room/room.tsx
  frontend/src/components/room/styles.module.scss
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/reducer.ts
Labels: frontend

change AR markers
  frontend/src/assets/img/ar-markers/a.png
  frontend/src/assets/img/ar-markers/b.png
  frontend/src/assets/img/ar-markers/c.png
  frontend/src/assets/img/ar-markers/d.png
  frontend/src/assets/img/ar-markers/e.png
  frontend/src/assets/img/ar-markers/f.png
  frontend/src/assets/img/ar-markers/g.png
  frontend/src/assets/img/ar-markers/h.png
  frontend/src/assets/img/ar-markers/hiro.jpg
  frontend/src/assets/img/ar-markers/i.png
  frontend/src/assets/img/ar-markers/j.png
  frontend/src/assets/img/ar-markers/k.png
  frontend/src/assets/img/ar-markers/l.png
  frontend/src/assets/img/ar-markers/m.png
  frontend/src/assets/img/ar-markers/n.png
  frontend/src/assets/img/ar-markers/o.png
  frontend/src/assets/img/ar-markers/p.png
  frontend/src/assets/img/ar-markers/q.png
  frontend/src/assets/img/ar-markers/r.png
  frontend/src/assets/img/ar-markers/s.png
  frontend/src/assets/img/ar-markers/t.png
  frontend/src/assets/img/ar-markers/u.png
  frontend/src/assets/img/ar-markers/v.png
  frontend/src/assets/img/ar-markers/w.png
  frontend/src/assets/img/ar-markers/x.png
  frontend/src/assets/img/ar-markers/y.png
  frontend/src/assets/img/ar-markers/z.png
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
Labels: frontend

Finished racing
  backend/src/common/types/racing/racing.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/services/room/room.service.ts
  frontend/public/sound/clock-ring.mp3
  frontend/public/sound/clock-tick.mp3
  frontend/public/sound/error.mp3
  frontend/src/assets/img/commentator.gif
  frontend/src/components/common/specific/typing-canvas/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lessons/styles.module.scss
  frontend/src/components/room/components/participant/index.tsx
  frontend/src/components/room/components/participant/styles.module.scss
  frontend/src/components/room/components/results-modal/styles.module.scss
  frontend/src/components/room/room.tsx
  frontend/src/components/room/styles.module.scss
  frontend/src/components/rooms/styles.module.scss
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/store.ts
  shared/src/common/types/racing/create-room-response-dto/create-room-response-dto.type.ts
  shared/src/common/types/racing/racing.ts
Labels: shared, backend, frontend

finished lesson
  frontend/src/store/modules/lessons/actions.ts
Labels: frontend

added AR patterns
  frontend/public/markers/a.patt
  frontend/public/markers/b.patt
  frontend/public/markers/c.patt
  frontend/public/markers/d.patt
  frontend/public/markers/e.patt
  frontend/public/markers/f.patt
  frontend/public/markers/g.patt
  frontend/public/markers/h.patt
  frontend/public/markers/i.patt
  frontend/public/markers/j.patt
  frontend/public/markers/k.patt
  frontend/public/markers/kkkk.patt
  frontend/public/markers/l.patt
  frontend/public/markers/m.patt
  frontend/public/markers/n.patt
  frontend/public/markers/o.patt
  frontend/public/markers/p.patt
  frontend/public/markers/q.patt
  frontend/public/markers/r.patt
  frontend/public/markers/s.patt
  frontend/public/markers/t.patt
  frontend/public/markers/u.patt
  frontend/public/markers/v.patt
  frontend/public/markers/w.patt
  frontend/public/markers/x.patt
  frontend/public/markers/y.patt
  frontend/public/markers/z.patt
Labels: frontend

fixed lesson card
  frontend/src/components/app/app.tsx
  frontend/src/components/ar-camera/ar-camera.tsx
  frontend/src/components/common/specific/lesson-card/styles.module.scss
  frontend/src/components/components.ts
Labels: frontend

Fixed room styles
  frontend/public/ar-camera.html
  frontend/public/models/bears.bin
  frontend/public/models/bears.gltf
  frontend/src/assets/css/variables.scss
  frontend/src/components/components.ts
  frontend/src/components/room/room.tsx
  frontend/src/components/room/styles.module.scss
Labels: frontend

last ar
  frontend/public/ar-camera.html
  frontend/public/models/bears.bin
  frontend/public/models/bears.gltf
  frontend/public/models/scene.bin
  frontend/public/models/scene.gltf
  frontend/public/models/textures/Material_metallicRoughness.png
  frontend/public/models/textures/material_0_baseColor.jpeg
  frontend/public/models/textures/material_0_metallicRoughness.png
Labels: frontend

last ar
  frontend/public/ar-camera.html
Labels: frontend

added AR models
  frontend/public/ar-camera.html
  frontend/public/models/airplane/scene.gltf
  frontend/public/models/airplane/textures/carpaint.002_baseColor.jpeg
  frontend/public/models/airplane/textures/ecran.001_baseColor.jpeg
  frontend/public/models/airplane/textures/propeller.001_baseColor.jpeg
  frontend/public/models/bears.bin
  frontend/public/models/bears.gltf
  frontend/public/models/butterfly/license.txt
  frontend/public/models/butterfly/scene.bin
  frontend/public/models/butterfly/scene.gltf
  frontend/public/models/butterfly/textures/lambert1_baseColor.png
  frontend/public/models/butterfly/textures/lambert1_metallicRoughness.png
  frontend/public/models/butterfly/textures/lambert1_normal.png
  frontend/public/models/cake/scene.gltf
  frontend/public/models/cake/textures/Cake_Plate_Simple_baseColor.png
  frontend/public/models/cake/textures/Cake_Title_Card_baseColor.png
  frontend/public/models/cake/textures/Cherry_baseColor.png
  frontend/public/models/cake/textures/Decor_Frosting_baseColor.png
  frontend/public/models/cake/textures/Frosting_Dark_baseColor.png
  frontend/public/models/cake/textures/Frosting_Light_baseColor.png
  frontend/public/models/cake/textures/Frosting_Light_normal.png
  frontend/public/models/cake/textures/Lace_Doily_baseColor.png
  frontend/public/models/cake/textures/Plate_Blue_Line_baseColor.png
  frontend/public/models/cake/textures/Plate_Decoration_baseColor.png
  frontend/public/models/cake/textures/Stem_baseColor.png
  frontend/public/models/key/scene.bin
  frontend/public/models/key/scene.gltf
  frontend/public/models/key/textures/Material_metallicRoughness.png
  frontend/public/models/key/textures/material_0_baseColor.jpeg
  frontend/public/models/key/textures/material_0_metallicRoughness.png
  frontend/public/models/strawberry/scene.bin
  frontend/public/models/strawberry/scene.gltf
  frontend/public/models/strawberry/textures/MORANGO_diffuse.jpeg
  frontend/public/models/strawberry/textures/lambert2SG_metallicRoughness.png
  frontend/public/models/textures/Material_metallicRoughness.png
  frontend/public/models/textures/fabric_brown_normal.png
  frontend/public/models/textures/material_0_baseColor.jpeg
  frontend/public/models/textures/material_0_metallicRoughness.png
Labels: frontend

moved ar
  ar/models/airplane/scene.gltf
  ar/models/airplane/textures/carpaint.002_baseColor.jpeg
  ar/models/airplane/textures/ecran.001_baseColor.jpeg
  ar/models/airplane/textures/propeller.001_baseColor.jpeg
  ar/models/butterfly/license.txt
  ar/models/butterfly/scene.bin
  ar/models/butterfly/scene.gltf
  ar/models/butterfly/textures/lambert1_baseColor.png
  ar/models/butterfly/textures/lambert1_metallicRoughness.png
  ar/models/butterfly/textures/lambert1_normal.png
  ar/models/cake/scene.gltf
  ar/models/cake/textures/Cake_Plate_Simple_baseColor.png
  ar/models/cake/textures/Cake_Title_Card_baseColor.png
  ar/models/cake/textures/Cherry_baseColor.png
  ar/models/cake/textures/Decor_Frosting_baseColor.png
  ar/models/cake/textures/Frosting_Dark_baseColor.png
  ar/models/cake/textures/Frosting_Light_baseColor.png
  ar/models/cake/textures/Frosting_Light_normal.png
  ar/models/cake/textures/Lace_Doily_baseColor.png
  ar/models/cake/textures/Plate_Blue_Line_baseColor.png
  ar/models/cake/textures/Plate_Decoration_baseColor.png
  ar/models/cake/textures/Stem_baseColor.png
  ar/models/key/scene.bin
  ar/models/key/scene.gltf
  ar/models/key/textures/Material_metallicRoughness.png
  ar/models/key/textures/material_0_baseColor.jpeg
  ar/models/key/textures/material_0_metallicRoughness.png
  ar/models/strawberry/scene.bin
  ar/models/strawberry/scene.gltf
  ar/models/strawberry/textures/MORANGO_diffuse.jpeg
  ar/models/strawberry/textures/lambert2SG_metallicRoughness.png
Labels: none

fixed deploy
  package.json
Labels: root

crop avatar modal
  backend/src/server.ts
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/components/crop-avatar/styles.module.scss
  package.json
Labels: root, backend, frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'
