Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

fixed styles
  frontend/src/components/profile/components/crop-avatar/styles.module.scss
Labels: frontend

fixed room navigation
  .editorconfig
  ar/ar-camera.html
  ar/models/butterfly/license.txt
  backend/src/server.ts
  backend/src/services/room/room.service.ts
  backend/src/services/user/user.service.ts
  frontend/public/models/butterfly/license.txt
  frontend/src/components/common/specific/lesson-card/styles.module.scss
  frontend/src/components/room/room.tsx
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/modules/profile/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  its/src/common/constants/constants.ts
  its/src/common/types/skill-known-probabilities/skill-known-probabilities.type.ts
  its/src/common/types/skill-known-probability-for-lesson/skill-known-probability-for-lesson.type.ts
  its/src/common/types/skill-known-probability/skill-known-probability.type.ts
  its/src/common/types/skill-learned-probability/skill-learned-probability.type.ts
  its/src/common/types/skill-statistics-with-will-learn-probability/sskill-statistics-with-will-learn-probability.type.ts
  its/src/common/types/skill-will-learn-probability/skill-will-learn-probability.type.ts
  its/src/common/types/skills-guess-probability/skills-guess-probability.type.ts
  its/src/common/types/skills-slip-probability/skill-known-probability.type.ts
  its/src/helpers/bkt/bkt.ts
  its/src/helpers/bkt/calculate-guess-probability/calculate-guess-probability.helper.ts
  its/src/helpers/bkt/calculate-learned-probability/calculate-learned-probability.helper.ts
  its/src/helpers/bkt/calculate-skill-conditional-previous-learned-probability/calculate-skill-conditional-previous-learned-probability.helper.ts
  its/src/helpers/bkt/calculate-slip-probability/calculate-slip-probability.helper.ts
  its/src/helpers/common/common.ts
  its/src/helpers/irt/calculate-known-probability/calculate-known-probability.helper.ts
  its/src/helpers/irt/calculate-lesson-complexity/calculate-lesson-complexity.helper.ts
  its/src/helpers/irt/irt.ts
  shared/src/common/types/its/additional/skill-lesson-statistics/skill-lesson-statistics.type.ts
  shared/src/dependencies/yup/yup.dependency.ts
Labels: root, shared, backend, frontend

fixed test lessons
  backend/src/data/migrations/20230528142633_add_test_lessons_data.ts
Labels: backend

Update README.md
  README.md
Labels: root

fixed key-racing bugs
  ar/ar-camera.html
  backend/src/data/migrations/20230528142634_add_system_lessons_data.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/specific/sign/components/submit-button/styles.module.scss
  frontend/src/components/common/specific/typing-canvas/typing-canvas.tsx
  frontend/src/components/lesson/components/results-modal/results-modal.tsx
  frontend/src/components/log-in-google/log-in-google.tsx
  frontend/src/components/room/components/participant/index.tsx
  frontend/src/components/settings/settings.tsx
Labels: backend, frontend

fixed linter issues
  README.md
  ar/models/doll/license.txt
  ar/models/earth/license.txt
  ar/models/flower/license.txt
  ar/models/grapes/license.txt
  ar/models/horse/license.txt
  ar/models/ice-cream/license.txt
  ar/models/jellyfish/license.txt
  ar/models/lollipop/license.txt
  ar/models/mashroom/license.txt
  ar/models/net/license.txt
  ar/models/owl/license.txt
  ar/models/panda/license.txt
  ar/models/quills/license.txt
  ar/models/rainbow/license.txt
  ar/models/telephone/license.txt
  ar/models/unicorn/license.txt
  ar/models/violin/license.txt
  ar/models/watch/license.txt
  ar/models/xylophone/license.txt
  ar/models/yacht/license.txt
  ar/models/zebra/license.txt
Labels: root

fixed ci
  frontend/src/components/lessons/styles.module.scss
  frontend/src/components/profile/styles.module.scss
Labels: frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'
