Repository SmartTyper/smart-typer, changes with the labels that .github/labeler.yml gives for each.
All labels: root, shared, backend, frontend

.github/labeler.yml:

root: '*'

shared: 'shared/**/*'

backend: 'backend/**/*'

frontend: 'frontend/**/*'

added settings store
  backend/src/api/routes/user/user.route.ts
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/file/cropped-image-type/cropped-image-type.constant.ts
  frontend/src/common/constants/file/file.ts
  frontend/src/common/constants/settings/default-settings/default-settings.constant.ts
  frontend/src/common/constants/settings/settings.ts
  frontend/src/common/types/app/async-thunk-options/async-thunk-options.type.ts
  frontend/src/common/types/profile/profile.ts
  frontend/src/common/types/types.ts
  frontend/src/components/profile/components/crop-avatar/crop-avatar.tsx
  frontend/src/components/profile/profile.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/services/api/api.ts
  frontend/src/services/api/settings-api/settings-api.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/services/notification/notification.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/auth.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/common.ts
  frontend/src/store/profile/actions.ts
  frontend/src/store/profile/common.ts
  frontend/src/store/profile/profile.ts
  frontend/src/store/profile/reducer.ts
  frontend/src/store/settings/actions.ts
  frontend/src/store/settings/common.ts
  frontend/src/store/settings/reducer.ts
  frontend/src/store/settings/settings.ts
  frontend/src/store/store.ts
  shared/src/common/constants/constants.ts
  shared/src/common/constants/file/allowed-file-types/allowed-file-types.constant.ts
  shared/src/common/types/profile/profile.ts
  shared/src/common/types/profile/update-avatar-response-dto/update-avatar-response-dto.type.ts
  shared/src/common/types/types.ts
Labels: shared, backend, frontend

Added settings and profile back
  backend/package-lock.json
  backend/package.json
  backend/src/api/routes/settings/settings.route.ts
  backend/src/api/routes/user/user.route.ts
  backend/src/common/types/auth/auth.ts
  backend/src/common/types/user/user-with-password/user-with-password.type.ts
  backend/src/common/types/user/user.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  backend/src/services/settings/settings.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/profile/profile.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/services/api/auth-api/auth-api.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  frontend/src/store/profile/actions.ts
  frontend/src/store/profile/reducer.ts
  shared/src/common/types/auth/log-in-user-request-dto/log-in-user-request-dto.type.ts
  shared/src/common/types/auth/register-user-request-dto/register-user-request-dto.type.ts
  shared/src/common/types/profile/update-avatar-response-dto/update-avatar-response-dto.type.ts
  shared/src/common/types/rating/rating.type.ts
  shared/src/common/types/settings/settings-dto/settings-dto.type.ts
  shared/src/common/types/settings/settings.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/user-dto/user-dto.type.ts
  shared/src/common/types/user/user-with-settings/user-with-settings.type.ts
  shared/src/common/types/user/user-with-statistics-and-rating-response-dto/user-with-statistics-and-rating-response-dto.type.ts
  shared/src/common/types/user/user-with-tokens-and-settings-response-dto/user-with-tokens-and-settings-response-dto.type.ts
  shared/src/common/types/user/user.ts
Labels: shared, backend, frontend

Added reset all to default to log out
  frontend/src/store/auth/actions.ts
Labels: frontend

Fixed auth folders naming
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/log-in-request-dto/log-in-request-dto.type.ts
  shared/src/common/types/auth/register-request-dto/register-request-dto.type.ts
Labels: shared

start racing and modal
  backend/src/api/routes/user/user.route.ts
  backend/src/common/types/user/user.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/common/types/react/react.ts
  frontend/src/common/types/settings/settings.ts
  frontend/src/common/types/user/user.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/button/button.tsx
  frontend/src/components/common/dropdown/common/types/button/button.type.ts
  frontend/src/components/common/dropdown/dropdown.tsx
  frontend/src/components/common/header/components/profile-dropdown/profile-dropdown.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/sign/components/submit-button/submit-button.tsx
  frontend/src/components/common/sign/sign.tsx
  frontend/src/components/common/user-label/user-label.tsx
  frontend/src/components/racing/racing.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/route/route.ts
  frontend/src/services/api/auth-api/auth-api.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/profile/actions.ts
  shared/src/common/types/user/user-auth-info-response-dto/user-auth-info-response-dto.type.ts
  shared/src/common/types/user/user-profile-info-response-dto/user-profile-info-response-dto.type.ts
  shared/src/common/types/user/user.ts
Labels: shared, backend, frontend

finished modal
  frontend/src/common/types/function/function.ts
  frontend/src/common/types/function/void-action/void-action.type.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/ui/dropdown/dropdown-button/dropdown-button.type.ts
  frontend/src/common/types/ui/dropdown/dropdown-link/dropdown-link.type.ts
  frontend/src/common/types/ui/dropdown/dropdown.ts
  frontend/src/common/types/ui/dropdown/item-data/item-data.type.ts
  frontend/src/common/types/ui/modal/modal-button/modal-button.type.ts
  frontend/src/common/types/ui/modal/modal.ts
  frontend/src/common/types/ui/ui.ts
  frontend/src/components/common/dropdown/common/types/button/button.type.ts
  frontend/src/components/common/dropdown/common/types/types.ts
  frontend/src/components/common/dropdown/dropdown.tsx
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/modal/modal.tsx
Labels: frontend

need to add size param
  frontend/src/components/common/modal/modal.tsx
Labels: frontend

fixed useForm
  frontend/src/common/types/validation/validation.ts
  frontend/src/hooks/use-form/use-form.hook.ts
  shared/src/common/types/validation/any-schema/any-schema.type.ts
  shared/src/common/types/validation/validation.ts
Labels: shared, frontend

added socket middleware
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/socket/socket.ts
  frontend/src/components/rooms/rooms.tsx
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/middlewares/error-handler/error-handler.middleware.ts
  frontend/src/store/middlewares/middlewares.ts
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/modules/actions.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/socket/socket-event/socket-event.enum.ts
  shared/src/common/enums/socket/socket.ts
Labels: shared, frontend

refactored store request constants
  frontend/src/store/modules/request/constants.ts
Labels: frontend

started room
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/event/commentator-event.enum.ts
  frontend/src/common/enums/event/emitter-event/emitter-event.ts
  frontend/src/components/room/room.tsx
  frontend/src/helpers/racing/map-room-to-game-room/map-room-to-game-room.helper.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  shared/src/common/enums/socket/socket-event/socket-event.enum.ts
Labels: shared, frontend

finished avatar and s3
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/middlewares/file/file.middleware.ts
  backend/src/api/middlewares/middlewares.ts
  backend/src/api/routes/routes.ts
  backend/src/api/routes/user/user.route.ts
  backend/src/common/constants/app/env/env.constant.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/file/file.ts
  backend/src/helpers/file/file.ts
  backend/src/helpers/file/s3/get-key-from-object-location/get-key-from-object-location.helper.ts
  backend/src/helpers/file/s3/s3.ts
  backend/src/helpers/helpers.ts
  backend/src/services/s3/s3.service.ts
  backend/src/services/services.ts
  backend/src/services/user/user.service.ts
Labels: backend

added custom create action type
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/event/commentator-event/commentator-event.enum.ts
  frontend/src/common/enums/event/event.ts
  frontend/src/common/types/external/action-options/action-options.type.ts
  frontend/src/common/types/external/async-thunk-callback/async-thunk-callback.type.ts
  frontend/src/common/types/external/create-action-callback/create-action-callback.type.ts
  frontend/src/common/types/external/external.ts
  frontend/src/common/types/racing/racing.ts
  frontend/src/components/room/room.tsx
  frontend/src/helpers/racing/get-commentator-text/common/constants/car-text/car-text.constant.ts
  frontend/src/helpers/racing/get-commentator-text/common/constants/constants.ts
  frontend/src/helpers/racing/get-commentator-text/common/constants/current-situation-text/current-situation-text.constant.ts
  frontend/src/helpers/racing/get-commentator-text/common/constants/greeting-text/greeting-text.constant.ts
  frontend/src/helpers/racing/get-commentator-text/common/constants/today-participants-text/today-participants-text.constant.ts
  frontend/src/helpers/racing/get-commentator-text/get-commentator-text.helper.ts
  frontend/src/helpers/racing/get-commentator-text/helpers/generate-text-with-participants-enumeration/generate-text-with-participants-enumeration.helper.ts
  frontend/src/helpers/racing/get-commentator-text/helpers/helpers.ts
  frontend/src/helpers/racing/map-room-to-game-room/map-room-to-game-room.helper.ts
  frontend/src/helpers/racing/racing.ts
  frontend/src/store/external/create-action/create-action.helper.ts
  frontend/src/store/external/create-async-thunk/create-async-thunk.helper.ts
  frontend/src/store/external/external.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/modules/request/constants.ts
  shared/src/common/types/racing/racing.ts
  shared/src/common/types/racing/room-id-user-id-dto/room-id-user-id-dto.type.ts
Labels: shared, frontend

room actions
  frontend/src/common/constants/racing/default-game-room/default-game-room.constant.ts
  frontend/src/common/types/external/async-thunk-callback/async-thunk-callback.type.ts
  frontend/src/common/types/external/async-thunk-options/async-thunk-options.type.ts
  frontend/src/common/types/external/create-action-callback/create-action-callback.type.ts
  frontend/src/common/types/external/external.ts
  frontend/src/common/types/racing/game-room-with-optional-fields/game-room-with-optional-fields.type.ts
  frontend/src/common/types/racing/game-room/game-room.type.ts
  frontend/src/common/types/racing/racing.ts
  frontend/src/components/common/sign/components/google-button/google-button.tsx
  frontend/src/components/log-in-google/log-in-google.tsx
  frontend/src/components/room/room.tsx
  frontend/src/helpers/racing/map-room-to-game-room/map-room-to-game-room.helper.ts
  frontend/src/services/api/racing-api/racing-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/services/navigation/navigation.service.ts
  frontend/src/services/services.ts
  frontend/src/services/socket/socket.service.ts
  frontend/src/store/external/create-async-thunk/create-async-thunk.helper.ts
  frontend/src/store/middlewares/socket/socket.middleware.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/modules/request/constants.ts
  shared/src/common/types/racing/participant-id-dto/participant-id-dto.type.ts
  shared/src/common/types/racing/racing.ts
  shared/src/common/types/racing/room-id-user-id-dto/room-id-user-id-dto.type.ts
Labels: shared, frontend

fixed room
  frontend/src/components/room/room.tsx
Labels: frontend

added back socket start
  backend/package-lock.json
  backend/package.json
  backend/src/common/enums/exception/exception.ts
  backend/src/common/enums/exception/socket-error-message/socket-error-message.enum.ts
  backend/src/common/enums/socket/soket.ts
  backend/src/server.ts
  backend/src/services/services.ts
  backend/src/services/socket/socket.service.ts
Labels: backend

added back socket end
  backend/src/common/types/racing/racing.ts
  backend/src/common/types/types.ts
  backend/src/server.ts
  backend/src/services/socket/socket.service.ts
Labels: backend

added room api
  backend/src/api/api.ts
  backend/src/api/routes/auth/auth.route.ts
  backend/src/api/routes/joke/joke.route.ts
  backend/src/api/routes/room/room.route.ts
  backend/src/api/routes/routes.ts
  backend/src/api/routes/user/user.route.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/room/joke-api-request-endpoint/joke-api-request-endpoint.constant.ts
  backend/src/common/constants/room/racing.ts
  backend/src/common/types/app/logger/logger.type.ts
  backend/src/common/types/racing/racing.type.ts
  backend/src/common/types/types.ts
  backend/src/server.ts
  backend/src/services/axios/axios.ts
  backend/src/services/joke/joke.service.ts
  backend/src/services/logger/logger.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/services.ts
  frontend/src/services/api/api.ts
  frontend/src/services/api/auth-api/auth-api.service.ts
  frontend/src/services/api/joke-api/joke-api.service.ts
  frontend/src/services/api/racing-api/racing-api.service.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/modules/racing/actions.ts
Labels: backend, frontend

fixed const dir
  backend/src/common/constants/constants.ts
  backend/src/common/constants/racing/default-personal-room-name/default-personal-room-name.constant.ts
  backend/src/common/constants/racing/joke-api-request-endpoint/joke-api-request-endpoint.constant.ts
  backend/src/common/constants/racing/racing.ts
  backend/src/common/constants/room/joke-api-request-endpoint/joke-api-request-endpoint.constant.ts
  backend/src/common/types/racing/racing.ts
  backend/src/common/types/racing/racing.type.ts
  backend/src/services/joke/joke.service.ts
Labels: backend

added room service
  backend/src/common/types/lesson/lesson.ts
  backend/src/common/types/racing/racing.ts
  backend/src/common/types/types.ts
  backend/src/services/room/room.service.ts
  backend/src/services/services.ts
Labels: backend

fixed arg types in room service methods
  backend/src/api/routes/room/room.route.ts
  backend/src/common/types/racing/racing.ts
  backend/src/services/room/room.service.ts
Labels: backend

finished logger service
  backend/src/services/logger/logger.service.ts
Labels: backend

finished logger service
  backend/src/api/api.ts
  backend/src/api/middlewares/error-handler/error-handler.middleware.ts
  backend/src/api/routes/routes.ts
  backend/src/common/types/app/logger/logger.type.ts
  backend/src/server.ts
  backend/src/services/logger/logger.service.ts
Labels: backend

finished logger service
  backend/src/common/types/app/logger/logger.type.ts
Labels: backend

finished logger service
  backend/src/common/types/app/logger/logger.type.ts
Labels: backend

finished racing backend
  backend/src/api/routes/room/room.route.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/socket/socket.ts
  backend/src/server.ts
  backend/src/services/room/room.service.ts
  backend/src/services/socket/socket.service.ts
Labels: backend

added lesson component
  backend/src/common/enums/db/model-key/lesson-key/lesson-key.enum.ts
  backend/src/common/enums/db/model-key/settings-key/settings-key.enum.ts
  backend/src/common/interfaces/record/lesson-record/lesson-record.interface.ts
  backend/src/common/interfaces/record/settings-record/settings-record.interface.ts
  backend/src/data/migrations/20221224203334_add_settings_table.ts
  backend/src/data/migrations/20221224205349_add_lessons_table.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/settings/settings.model.ts
  backend/src/services/settings/settings.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/file/file.ts
  frontend/src/common/enums/http/http.ts
  frontend/src/common/types/http/http-options/http-options.type.ts
  frontend/src/components/external/external.ts
  frontend/src/components/lessons/components/components.ts
  frontend/src/components/lessons/components/create-lesson-button/create-lesson-button.tsx
  frontend/src/components/lessons/components/create-lesson-modal/create-lesson-modal.tsx
  frontend/src/components/lessons/components/lesson-item-list/lesson-item-list.tsx
  frontend/src/components/lessons/components/lesson-item/lesson-item.tsx
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/room/room.tsx
  frontend/src/components/rooms/rooms.tsx
  frontend/src/services/api/auth-api/auth-api.service.ts
  frontend/src/services/http/http.service.ts
  package-lock.json
  package.json
  shared/src/common/constants/settings/default-settings/default-settings.constant.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/http/content-type/content-type.enum.ts
  shared/src/common/enums/http/http.ts
  shared/src/common/enums/lesson/content-type/content-type.enum.ts
  shared/src/common/enums/lesson/creator-type/creator-type.enum.ts
  shared/src/common/enums/lesson/lesson.ts
  shared/src/common/types/lesson/create-lesson-request-dto/create-lesson-request-dto.type.ts
  shared/src/common/types/lesson/lesson.ts
  shared/src/common/types/settings/settings-dto/settings-dto.type.ts
Labels: root, shared, backend, frontend

renamed request
  frontend/src/components/common/hocs/with-header/with-header.tsx
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/reset-password/reset-password.tsx
  frontend/src/components/rooms/components/create-room-modal/create-room-modal.tsx
  frontend/src/components/rooms/components/share-room-modal/share-room-modal.tsx
  frontend/src/components/rooms/rooms.tsx
  frontend/src/components/set-password/set-password.tsx
  frontend/src/components/sign-up/sign-up.tsx
Labels: frontend

added lessons store and types
  frontend/src/common/enums/app/reducer-name/reducer-name.enum.ts
  frontend/src/common/types/lesson/lesson-with-skills-statistics/lesson-with-skills-statistics.type.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/common/types/lesson/skill-statistics/skill-statistics.type.ts
  frontend/src/components/lessons/lessons.tsx
  frontend/src/helpers/lesson/lesson.ts
  frontend/src/services/api/api.ts
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/modules/action-type.ts
  frontend/src/store/modules/actions.ts
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/modules/reducers.ts
  frontend/src/store/modules/requests/constants.ts
  frontend/src/store/modules/requests/reducer.ts
  frontend/src/store/modules/settings/reducer.ts
  shared/src/common/types/lesson/create-lesson-request-dto/create-lesson-request-dto.type.ts
  shared/src/common/types/lesson/lesson-dto/lesson-dto.type.ts
  shared/src/common/types/lesson/lesson-id-dto/lesson-id-dto.type.ts
  shared/src/common/types/lesson/lesson-result-request-dto/lesson-result-request-dto.type.ts
  shared/src/common/types/lesson/lesson-with-skills-dto/lesson-with-skills-dto.type.ts
  shared/src/common/types/lesson/lesson.ts
  shared/src/common/types/lesson/skill-result/skill-result.type.ts
  shared/src/common/types/lesson/skill/skill.type.ts
  shared/src/common/types/racing/participant-id-dto/participant-id-dto.type.ts
  shared/src/common/types/racing/room-id-dto/room-id-dto.type.ts
  shared/src/common/types/user/user-id-dto/user-id-dto.type.ts
Labels: shared, frontend

renamed racing actions
  frontend/src/components/room/room.tsx
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
Labels: frontend

finished lessons frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/constants/constants.ts
  frontend/src/common/constants/lesson/default-lessons-offset/default-lessons-offset.constant.ts
  frontend/src/common/constants/lesson/default-lessons-offset/lessons-amount-for-one-request.constant.ts
  frontend/src/common/constants/lesson/default-skill-statistics/default-skill-statistics.constant.ts
  frontend/src/common/constants/lesson/lesson.ts
  frontend/src/common/constants/lesson/lessons-amount-for-one-request/lessons-amount-for-one-request.constant.ts
  frontend/src/common/interface/interface.ts
  frontend/src/common/interface/pagination/pagination.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/components/external/external.ts
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/rooms/rooms.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/lesson/lesson.ts
  frontend/src/helpers/lesson/map-lesson-with-skills-to-lesson-with-skills-statistics/map-lesson-with-skills-to-lesson-with-skills-statistics.helper.ts
  frontend/src/helpers/racing/map-game-room-to-default/map-game-room-to-default.helper.ts
  frontend/src/helpers/racing/map-room-to-game-room/map-room-to-game-room.helper.ts
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  frontend/src/store/modules/requests/constants.ts
  shared/src/common/interface/interface.ts
  shared/src/common/interface/pagination/pagination-request/pagination-request.interface.ts
  shared/src/common/interface/pagination/pagination-response/pagination-response.interface.ts
  shared/src/common/interface/pagination/pagination.ts
  shared/src/common/types/lesson/lesson-filters/lesson-filters.type.ts
  shared/src/common/types/lesson/lesson.ts
Labels: shared, frontend

add study plan
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/api/routes/routes.ts
  backend/src/common/constants/study-plan/study-plan.ts
  backend/src/common/constants/study-plan/test-lesson-name/test-lesson-name.constant.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/lesson/lesson.enum.ts
  backend/src/common/interfaces/interfaces.ts
  backend/src/common/interfaces/pagination/pagination.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/services/lesson/lesson.service.ts
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/study-plan/study-plan.tsx
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  shared/src/common/types/study-plan/study-plan-lesson/study-plan-lesson.type.ts
  shared/src/common/types/study-plan/study-plan.ts
  shared/src/common/types/types.ts
Labels: shared, backend, frontend

refactored lesson types
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/services/lesson/lesson.service.ts
  frontend/src/common/constants/lesson/default-skill-statistics/default-skill-statistics.constant.ts
  frontend/src/common/constants/racing/default-participant/default-participant.constant.ts
  frontend/src/common/types/lesson/lesson-with-skills-statistics/lesson-with-skills-statistics.type.ts
  frontend/src/common/types/lesson/lesson-with-skills/lesson-with-skills.type.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/common/types/lesson/skill-statistics/skill-statistics.type.ts
  frontend/src/common/types/racing/game-room/game-room.type.ts
  frontend/src/common/types/racing/participant/participant.type.ts
  frontend/src/components/room/helpers/get-participants-rating.ts
  frontend/src/components/room/room.tsx
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  shared/src/common/types/lesson/get-lesson-response-dto/get-lesson-response-dto.type.ts
  shared/src/common/types/lesson/lesson-result-request-dto/lesson-result-request-dto.type.ts
  shared/src/common/types/lesson/lesson-with-skills-dto/lesson-with-skills-dto.type.ts
  shared/src/common/types/lesson/lesson.ts
  shared/src/common/types/lesson/skill-result/skill-result.type.ts
  shared/src/common/types/lesson/skill/skill.type.ts
  shared/src/common/types/lesson/skills-statistics/skills-statistics.type.ts
Labels: shared, backend, frontend

finished lesson
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/api/routes/room/room.route.ts
  backend/src/common/types/lesson/lesson.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
  frontend/src/common/constants/lesson/default-skill-statistics/default-skill-statistics.constant.ts
  frontend/src/common/constants/lesson/default-skills-statistics/default-skills-statistics.constant.ts
  frontend/src/common/constants/lesson/lesson.ts
  frontend/src/common/constants/racing/default-game-room/default-game-room.constant.ts
  frontend/src/common/types/lesson/lesson-result/lesson-result.type.ts
  frontend/src/common/types/lesson/lesson-with-skills-statistics/lesson-with-skills-statistics.type.ts
  frontend/src/common/types/lesson/lesson-with-skills/lesson-with-skills.type.ts
  frontend/src/common/types/lesson/lesson.ts
  frontend/src/common/types/racing/game-room/game-room.type.ts
  frontend/src/components/room/room.tsx
  frontend/src/helpers/lesson/lesson.ts
  frontend/src/helpers/lesson/map-lesson-to-lesson-with-skills-statistics/map-lesson-to-lesson-with-skills-statistics.helper.ts
  frontend/src/helpers/lesson/map-lesson-with-skills-to-lesson-with-skills-statistics/map-lesson-with-skills-to-lesson-with-skills-statistics.helper.ts
  frontend/src/services/api/lesson-api/lesson-api.service.ts
  frontend/src/services/api/room-api/room-api.service.ts
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/lessons/reducer.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/racing/reducer.ts
  shared/src/common/types/lesson/get-lesson-response-dto/get-lesson-response-dto.type.ts
  shared/src/common/types/lesson/lesson-response-dto/lesson-response-dto.type.ts
  shared/src/common/types/lesson/lesson-result-request-dto/lesson-result-request-dto.type.ts
  shared/src/common/types/lesson/lesson.ts
  shared/src/common/types/lesson/skills-statistics-dto/skills-statistics-dto.type.ts
  shared/src/common/types/lesson/skills-statistics/skills-statistics.type.ts
Labels: shared, backend, frontend

added best skill and relation mapping
  backend/src/common/enums/db/model-key/user-to-finished-lesson-key/user-to-finished-lesson-key.enum.ts
  backend/src/common/enums/db/relation-mapping/lesson-relation-mapping/lesson-relation-mapping.enum.ts
  backend/src/common/enums/db/relation-mapping/relation-mapping.ts
  backend/src/common/enums/db/relation-mapping/user-to-finished-lesson-relation-mapping/user-to-finished-lesson-relation-mapping.enum.ts
  backend/src/common/enums/db/relation-mapping/user-to-study-plan-lesson-relation-mapping/user-to-study-plan-lesson-relation-mapping.enum.ts
  backend/src/common/interfaces/record/user-to-finished-lesson-record/user-to-finished-lesson-record.interface.ts
  backend/src/data/migrations/20221224212828_add_users_to_finished_lessons_table.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/user-to-finished-lesson/user-to-finished-lesson.model.ts
  backend/src/data/models/user-to-study-plan-lesson/user-to-study-plan-lesson.model.ts
  shared/src/common/types/lesson/lesson-dto/lesson-dto.type.ts
Labels: shared, backend

added reposirory queries
  backend/src/common/constants/racing/max-users-in-room/max-users-in-room.constant.ts
  backend/src/common/constants/racing/racing.ts
  backend/src/common/enums/db/relation-mapping/room-relation-mapping/room-relation-mapping.enum.ts
  backend/src/common/interfaces/interfaces.ts
  backend/src/common/interfaces/user-to-room/user-to-room.type.ts
  backend/src/common/types/db/db.ts
  backend/src/common/types/db/record-without-common-date-keys/record-without-common-date-keys.type.ts
  backend/src/common/types/user/user.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/settings/settings.repository.ts
  backend/src/data/repositories/statistics/statistics.repository.ts
  backend/src/data/repositories/user-to-room/user-to-room.reporitory.ts
  backend/src/data/repositories/user-to-room/user-to-room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/its/its.service.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/services.ts
  backend/src/services/settings/settings.service.ts
  backend/src/services/user-to-room/user-to-room.service.ts
  backend/src/services/user/user.service.ts
  shared/src/common/enums/exception/http-error-message/http-error-message.enum.ts
Labels: shared, backend

add getTestLessons query
  backend/src/common/constants/constants.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/services/lesson/lesson.service.ts
Labels: backend

fixes
  frontend/src/common/enums/app/app-route/app-route.enum.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/hocs/with-header/styles.module.scss
  frontend/src/components/common/hocs/with-header/with-header.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/external/external.ts
  frontend/src/components/lessons/components/components.ts
  frontend/src/components/lessons/components/create-lesson-button/create-lesson-button.tsx
  frontend/src/components/lessons/components/create-lesson-modal/create-lesson-modal.tsx
  frontend/src/components/lessons/components/lesson-item-list/lesson-item-list.tsx
  frontend/src/components/lessons/components/lesson-item/lesson-item.tsx
  frontend/src/components/lessons/lessons.tsx
  frontend/src/components/log-in/log-in.tsx
  frontend/src/components/room/components/participant/index.tsx
  frontend/src/components/room/components/results-modal/index.tsx
  frontend/src/components/room/helpers/get-participants-rating.ts
  frontend/src/components/room/room.tsx
  frontend/src/components/rooms/rooms.tsx
  frontend/src/components/set-password/set-password.tsx
  frontend/src/components/sign-up/sign-up.tsx
  frontend/src/components/study-plan/study-plan.tsx
  frontend/src/store/modules/auth/actions.ts
  frontend/src/store/modules/lessons/action-type.ts
  frontend/src/store/modules/lessons/actions.ts
  frontend/src/store/modules/racing/action-type.ts
  frontend/src/store/modules/racing/actions.ts
  frontend/src/store/modules/requests/constants.ts
Labels: frontend

added minor fixes
  backend/src/api/api.ts
  backend/src/api/routes/auth/auth.route.ts
  backend/src/api/routes/lesson/lesson.route.ts
  backend/src/api/routes/room/room.route.ts
  backend/src/api/routes/routes.ts
  backend/src/api/routes/user/user.route.ts
  backend/src/common/constants/routes/white-list-routes/white-list-routes.constant.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/services/api/user-api/user-api.service.ts
  frontend/src/services/http/http.service.ts
  frontend/src/store/modules/auth/actions.ts
  shared/src/common/enums/http/http-code/http-code.enum.ts
Labels: shared, backend, frontend

reworked room and lesson services logic
  backend/src/common/constants/study-plan/test-lesson-name/test-lesson-name.constant.ts
  backend/src/common/enums/db/relation-mapping/user-relation-mapping/user-relation-mapping.enum.ts
  backend/src/common/interfaces/interfaces.ts
  backend/src/common/types/its/its.ts
  backend/src/common/types/types.ts
  backend/src/common/types/user/user-to-room/user-to-room.type.ts
  backend/src/common/types/user/user.ts
  backend/src/data/migrations/20221224212306_add_users_to_rooms_table.ts
  backend/src/data/models/user/user.model.ts
  backend/src/data/repositories/lesson/lesson.repository.ts
  backend/src/data/repositories/repositories.ts
  backend/src/data/repositories/room/room.repository.ts
  backend/src/data/repositories/user-to-room/user-to-room.repository.ts
  backend/src/data/repositories/user/user.repository.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/its/its.service.ts
  backend/src/services/joke/joke.service.ts
  backend/src/services/lesson/lesson.service.ts
  backend/src/services/room/room.service.ts
  backend/src/services/services.ts
  backend/src/services/user-to-room/user-to-room.service.ts
  backend/src/services/user/user.service.ts
  frontend/src/store/modules/racing/actions.ts
  shared/src/common/enums/http/http-code/http-code.enum.ts
  shared/src/common/types/its/ahp-payload/ahp-payload.type.ts
  shared/src/common/types/its/ahp-result/bkt-result.type.ts
  shared/src/common/types/its/bkt-payload/bkt-payload.type.ts
  shared/src/common/types/its/bkt-payload/bkt-result/bkt-result.type.ts
  shared/src/common/types/its/bkt-result/bkt-result.type.ts
  shared/src/common/types/its/irt-payload/irt-payload.type.ts
  shared/src/common/types/its/irt-result/irt-result.type.ts
  shared/src/common/types/its/its.ts
  shared/src/common/types/types.ts
Labels: shared, backend, frontend
