Repository SmartTyper/smart-typer, pull requests merged in 2023-02, with the labels that each got.

#3 ST-3: Change name to "Smart Typer"
  README.md
Labels: root, project

#5 ST-5: Fix project configuration
  .eslintrc.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .ls-lint.yml
  .prettierrc.yml
  backend/.eslintrc.yml
  backend/package.json
  backend/src/api/api.ts
  backend/src/api/auth/auth.api.ts
  backend/src/common/interfaces/records/common-records/common-record.interface.ts
  backend/src/common/interfaces/records/lesson-record/lesson-record.interface.ts
  backend/src/common/interfaces/records/lesson-to-skill-record/lesson-to-skill-record.interface.ts
  backend/src/common/interfaces/records/refresh-token-record/refresh-token-record.interface.ts
  backend/src/common/interfaces/records/room-record/room-record.interface.ts
  backend/src/common/interfaces/records/settings-record/settings-record.interface.ts
  backend/src/common/interfaces/records/skill-record/skill-record.interface.ts
  backend/src/common/interfaces/records/statistics-record/statistics-record.interface.ts
  backend/src/common/interfaces/records/user-record/user-record.interface.ts
  backend/src/common/interfaces/records/user-to-finished-lesson-record/user-to-finished-lesson-record.interface.ts
  backend/src/common/interfaces/records/user-to-room-record/user-to-room-record.interface.ts
  backend/src/common/interfaces/records/user-to-skill-record/user-to-skill-record.interface.ts
  backend/src/common/interfaces/records/user-to-study-plan-lesson-record/user-to-study-plan-lesson-record.interface.ts
  backend/src/data/models/base/base.model.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
  backend/src/data/models/lesson/lesson.model.ts
  backend/src/data/models/refresh-token/refresh-token.model.ts
  backend/src/data/models/room/room.model.ts
  backend/src/data/models/settings/settings.model.ts
  backend/src/data/models/skill/skill.model.ts
  backend/src/data/models/statistics/statistics.model.ts
  backend/src/data/models/user-to-finished-lesson/user-to-finished-lesson.model.ts
  backend/src/data/models/user-to-room/user-to-room.model.ts
  backend/src/data/models/user-to-skill/user-to-skill.model.ts
  backend/src/data/models/user-to-study-plan-lesson/user-to-study-plan-lesson.model.ts
  backend/src/data/models/user/user.model.ts
  backend/src/server.ts
  backend/tsconfig.json
  frontend/.eslintrc.yml
  frontend/package.json
  frontend/src/common/types/react/react.ts
  frontend/src/common/types/types.ts
  frontend/src/store/auth/actions.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
  shared/.eslintrc.yml
  shared/package-lock.json
  shared/package.json
  shared/src/exceptions/http-error/http-error.exception.ts
  shared/tsconfig.json
  tsconfig.json
Labels: root, shared, backend, frontend

#6 ST-2: Update lessons_to_skills table
  backend/src/common/enums/db/models-keys/lesson-to-skill-key/lesson-to-skill-key.enum.ts
  backend/src/common/interfaces/records/lesson-to-skill-record/lesson-to-skill-record.interface.ts
  backend/src/data/migrations/20230212171108_update_lessons_to_skills_table.ts
  backend/src/data/models/lesson-to-skill/lesson-to-skill.model.ts
Labels: backend
